flows.json
[
    {
        "id": "e42535dea0a8f97a",
        "type": "tab",
        "label": "ESIT Lock + AWS Shadow + Telegram",
        "disabled": false,
        "info": ""
    },
    {
        "id": "557220bbcbcc9b3c",
        "type": "inject",
        "z": "e42535dea0a8f97a",
        "name": "On start -> Shadow /get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "a87f83f5a05394fb"
            ]
        ]
    },
    {
        "id": "a87f83f5a05394fb",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Build GET payload {}",
        "func": "msg.payload = {};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 60,
        "wires": [
            [
                "7d818f2894ea3ee1"
            ]
        ]
    },
    {
        "id": "7d818f2894ea3ee1",
        "type": "mqtt out",
        "z": "e42535dea0a8f97a",
        "name": "AWS Shadow GET",
        "topic": "$aws/things/esit-obj1/shadow/get",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "987e706b5b0617f8",
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "2cf3307020107ba4",
        "type": "mqtt in",
        "z": "e42535dea0a8f97a",
        "name": "AWS /get/accepted",
        "topic": "$aws/things/esit-obj1/shadow/get/accepted",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "987e706b5b0617f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "845304f06f97af10",
                "1f4422e27e4ec418"
            ]
        ]
    },
    {
        "id": "bf88156e4dfc53a0",
        "type": "mqtt in",
        "z": "e42535dea0a8f97a",
        "name": "AWS /update/documents",
        "topic": "$aws/things/esit-obj1/shadow/update/documents",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "987e706b5b0617f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "845304f06f97af10",
                "1f4422e27e4ec418"
            ]
        ]
    },
    {
        "id": "845304f06f97af10",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Parse Shadow + cache lock + detect requests",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n  try { p = JSON.parse(p); } catch (e) { return null; }\n}\n\nlet state = null;\nif (p && p.current && p.current.state) state = p.current.state;\nelse if (p && p.state) state = p.state;\nif (!state) return null;\n\nlet reported = state.reported || {};\nlet desired = state.desired || {};\n\nlet lock = (reported.lock || desired.lock || 'chiusa').toString();\nflow.set('lock', lock);\n\nlet req = reported.request;\n\nif (!flow.get('initialized')) {\n  flow.set('initialized', true);\n\n  if (req && req.nonce) {\n    flow.set('lastReqNonce', req.nonce.toString());\n  }\n\n  return [null, {\n    lockTarget: 'chiusa',\n    reason: 'init',\n    last_error: null,\n    auth_event: { event: 'cancel_wait' }\n  }];\n}\n\nif (req && req.nonce) {\n  const nonce = req.nonce.toString();\n  if (nonce !== flow.get('lastReqNonce')) {\n    flow.set('lastReqNonce', nonce);\n    return [{ payload: req }, null];\n  }\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "bcc6b353cafb9b42"
            ],
            [
                "1b897f07357388a2",
                "63d8415fe0b890da"
            ]
        ]
    },
    {
        "id": "bcc6b353cafb9b42",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare DB auth lookup by code",
        "func": "let req = msg.payload || {};\nlet code = (req.code || '').toString().trim();\nlet nonce = (req.nonce || '').toString();\nlet ts = Number(req.ts || 0);\nif (!code || !nonce) return null;\nif (!ts || Number.isNaN(ts)) ts = Math.floor(Date.now() / 1000);\n\nmsg.request = {\n  type: (req.type || 'toggle').toString(),\n  code,\n  nonce,\n  ts,\n  src: (req.src || 'ir').toString(),\n  thing: (req.thing || '').toString(),\n  fw: (req.fw || '').toString()\n};\n\nmsg.params = [code];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 160,
        "wires": [
            [
                "0d23233f8c965c99"
            ]
        ]
    },
    {
        "id": "0d23233f8c965c99",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Find user by access code",
        "query": "SELECT id, username, access_code, telegram_id, status FROM utenti WHERE access_code = $1 LIMIT 1;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1190,
        "y": 160,
        "wires": [
            [
                "fa44a72881a376cb"
            ]
        ]
    },
    {
        "id": "fa44a72881a376cb",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Process auth result from DB",
        "func": "const req = msg.request || {};\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst lock = (flow.get('lock') || 'chiusa').toString();\n\nfunction cleanup(lockTarget, lastError) {\n  const out = { lockTarget: (lockTarget || lock), reason: 'cleanup' };\n  if (arguments.length >= 2) out.last_error = lastError;\n  return out;\n}\nfunction debug(reason, extra) {\n  return { payload: Object.assign({ reason, request: req }, extra || {}) };\n}\nfunction authEvent(evt) {\n  return { auth_event: evt };\n}\nfunction toUser(row) {\n  return {\n    id: row.id,\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nfunction toInt(v, def) {\n  v = Number(v);\n  return Number.isFinite(v) ? Math.trunc(v) : def;\n}\nfunction toBool(v, def) {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'string') {\n    const s = v.toLowerCase().trim();\n    if (s === 'true' || s === '1' || s === 'on') return true;\n    if (s === 'false' || s === '0' || s === 'off') return false;\n  }\n  if (typeof v === 'number') return v !== 0;\n  return def;\n}\nfunction getSecurityConfig() {\n  const raw = flow.get('securityConfig') || {};\n  return {\n    confirm_timeout_sec: Math.min(60, Math.max(5, toInt(raw.confirm_timeout_sec, 10))),\n    wrong_code_cooldown_sec: Math.min(30, Math.max(0, toInt(raw.wrong_code_cooldown_sec, 0))),\n    max_wrong_attempts: Math.min(10, Math.max(1, toInt(raw.max_wrong_attempts, 3))),\n    lockout_duration_sec: Math.min(3600, Math.max(10, toInt(raw.lockout_duration_sec, 60))),\n    telegram_confirm_required: toBool(raw.telegram_confirm_required, true)\n  };\n}\nfunction clearPending() {\n  const t = flow.get('pendingTimer');\n  if (t) clearTimeout(t);\n  flow.set('pendingTimer', null);\n  flow.set('pending', null);\n}\n\nconst cfg = getSecurityConfig();\nconst nowMs = Date.now();\nconst user = rows.length > 0 ? toUser(rows[0]) : null;\nconst pending = flow.get('pending');\n\nconst lockoutUntil = Number(flow.get('lockoutUntil') || 0);\nif (lockoutUntil > nowMs) {\n  const retryAfterSec = Math.max(1, Math.ceil((lockoutUntil - nowMs) / 1000));\n  return [\n    null,\n    cleanup(lock, {\n      type: 'lockout_active',\n      msg: 'Sistema temporaneamente bloccato per troppi errori',\n      retry_after_sec: retryAfterSec,\n      ts: Math.floor(nowMs / 1000)\n    }),\n    debug('lockout_active', { retry_after_sec: retryAfterSec, config: cfg }),\n    null\n  ];\n}\n\nconst wrongCodeCooldownUntil = Number(flow.get('wrongCodeCooldownUntil') || 0);\nif (wrongCodeCooldownUntil > nowMs) {\n  const retryAfterSec = Math.max(1, Math.ceil((wrongCodeCooldownUntil - nowMs) / 1000));\n  return [\n    null,\n    cleanup(lock, {\n      type: 'wrong_code_cooldown_active',\n      msg: 'Attendi prima di effettuare un nuovo tentativo',\n      retry_after_sec: retryAfterSec,\n      ts: Math.floor(nowMs / 1000)\n    }),\n    debug('wrong_code_cooldown_active', { retry_after_sec: retryAfterSec, config: cfg }),\n    null\n  ];\n}\n\nif (pending && pending.nonce && nowMs < pending.expires) {\n  if (user && user.status === 'ABILITATO' && user.telegram_id) {\n    return [\n      {\n        payload: {\n          chatId: user.telegram_id,\n          type: 'message',\n          content: 'Richiesta già in corso: attendi il completamento dell\\'operazione attuale.'\n        }\n      },\n      cleanup(lock, null),\n      debug('busy', { user, config: cfg }),\n      null\n    ];\n  }\n  return [null, cleanup(lock, null), debug('busy', { config: cfg }), null];\n}\n\nif (!user) {\n  let wrongAttempts = Number(flow.get('wrongAttemptsCount') || 0) + 1;\n  flow.set('wrongAttemptsCount', wrongAttempts);\n\n  if (wrongAttempts >= cfg.max_wrong_attempts) {\n    const until = nowMs + (cfg.lockout_duration_sec * 1000);\n    flow.set('wrongAttemptsCount', 0);\n    flow.set('wrongCodeCooldownUntil', 0);\n    flow.set('lockoutUntil', until);\n\n    return [\n      null,\n      cleanup(lock, {\n        type: 'lockout_started',\n        msg: 'Troppi codici errati: sistema temporaneamente bloccato',\n        retry_after_sec: cfg.lockout_duration_sec,\n        attempts_limit: cfg.max_wrong_attempts,\n        ts: Math.floor(nowMs / 1000)\n      }),\n      debug('lockout_started', {\n        attempts_limit: cfg.max_wrong_attempts,\n        lockout_duration_sec: cfg.lockout_duration_sec,\n        config: cfg\n      }),\n      authEvent({\n        event: 'lockout_started',\n        username: null,\n        src: (req.src || '').toString(),\n        retry_after_sec: cfg.lockout_duration_sec,\n        attempts_limit: cfg.max_wrong_attempts\n      })\n    ];\n  }\n\n  if (cfg.wrong_code_cooldown_sec > 0) {\n    flow.set('wrongCodeCooldownUntil', nowMs + (cfg.wrong_code_cooldown_sec * 1000));\n  } else {\n    flow.set('wrongCodeCooldownUntil', 0);\n  }\n\n  return [\n    null,\n    cleanup(lock, {\n      type: 'wrong_code',\n      msg: 'Codice non valido',\n      nonce: req.nonce,\n      ts: req.ts,\n      attempts_count: wrongAttempts,\n      attempts_remaining: Math.max(0, cfg.max_wrong_attempts - wrongAttempts)\n    }),\n    debug('wrong_code', {\n      attempts_count: wrongAttempts,\n      attempts_remaining: Math.max(0, cfg.max_wrong_attempts - wrongAttempts),\n      config: cfg\n    }),\n    authEvent({ event: 'wrong_code' })\n  ];\n}\n\nif (user.status !== 'ABILITATO') {\n  return [\n    null,\n    cleanup(lock, {\n      type: 'disabled_user',\n      msg: 'Utente disabilitato',\n      nonce: req.nonce,\n      ts: req.ts,\n      username: user.username\n    }),\n    debug('disabled_user', { user, config: cfg }),\n    authEvent({ event: 'disabled_user' })\n  ];\n}\n\nflow.set('wrongAttemptsCount', 0);\nflow.set('wrongCodeCooldownUntil', 0);\nflow.set('lockoutUntil', 0);\n\nif (lock === 'chiusa') {\n  if (!cfg.telegram_confirm_required) {\n    clearPending();\n    return [\n      {\n        payload: {\n          chatId: user.telegram_id,\n          type: 'message',\n          content: 'Codice corretto: serratura APERTA.'\n        }\n      },\n      { lockTarget: 'aperta', reason: 'open_direct', last_error: null },\n      debug('open_direct', { user, config: cfg }),\n      authEvent({\n        event: 'open_authorized',\n        username: user.username,\n        src: (req.src || '').toString(),\n        mode: 'direct'\n      })\n    ];\n  }\n\n  const confirmTimeoutMs = cfg.confirm_timeout_sec * 1000;\n  const expires = nowMs + confirmTimeoutMs;\n\n  flow.set('pending', {\n    nonce: req.nonce,\n    expires,\n    user,\n    code: req.code\n  });\n\n  const oldTimer = flow.get('pendingTimer');\n  if (oldTimer) {\n    clearTimeout(oldTimer);\n    flow.set('pendingTimer', null);\n  }\n\n  const timer = setTimeout(() => {\n    const p = flow.get('pending');\n    if (p && p.nonce === req.nonce && Date.now() >= p.expires) {\n      flow.set('pending', null);\n      const t = flow.get('pendingTimer');\n      if (t) clearTimeout(t);\n      flow.set('pendingTimer', null);\n\n      node.send([\n        {\n          payload: {\n            chatId: user.telegram_id,\n            type: 'message',\n            content: 'Tempo scaduto: serratura NON aperta.'\n          }\n        },\n        null,\n        debug('timeout', { user, config: cfg }),\n        authEvent({\n          event: 'confirm_timeout',\n          username: user.username,\n          src: 'telegram',\n          nonce: req.nonce,\n          timeout_sec: cfg.confirm_timeout_sec\n        })\n      ]);\n    }\n  }, confirmTimeoutMs);\n\n  flow.set('pendingTimer', timer);\n\n  return [\n    {\n      _nonce: req.nonce,\n      payload: {\n        chatId: user.telegram_id,\n        type: 'message',\n        content: 'Codice corretto. Premi CONFERMA entro ' + cfg.confirm_timeout_sec + ' secondi per APRIRE.',\n        options: {\n          reply_markup: JSON.stringify({\n            inline_keyboard: [\n              [{ text: 'CONFERMA', callback_data: 'CONFIRM|' + req.nonce }]\n            ]\n          })\n        }\n      }\n    },\n    cleanup(lock, null),\n    debug('countdown_start', { user, config: cfg }),\n    authEvent({\n      event: 'countdown_start',\n      nonce: req.nonce,\n      expires_ts: Math.floor(expires / 1000),\n      username: user.username,\n      src: 'telegram',\n      timeout_sec: cfg.confirm_timeout_sec\n    })\n  ];\n}\n\nreturn [\n  {\n    payload: {\n      chatId: user.telegram_id,\n      type: 'message',\n      content: 'Codice corretto: chiusura automatica in corso.'\n    }\n  },\n  { lockTarget: 'chiusa', reason: 'close', last_error: null },\n  debug('close', { user, config: cfg }),\n  authEvent({\n    event: 'close_authorized',\n    username: user.username,\n    src: (req.src || '').toString()\n  })\n];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 160,
        "wires": [
            [
                "2c1adebfbef8e72c"
            ],
            [
                "1b897f07357388a2",
                "51a3143ce22d0bc2"
            ],
            [
                "cc72f0aed66de0fd"
            ],
            [
                "63d8415fe0b890da"
            ]
        ]
    },
    {
        "id": "2c1adebfbef8e72c",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "MARK t0 (Telegram link) + extract nonce",
        "func": "const p = msg.payload || {};\nconst opts = p.options || {};\nconst rm = (opts.reply_markup || '').toString();\n\nif (!rm) return msg;\n\nlet nonce = msg._nonce;\nif (!nonce) {\n  const m = rm.match(/CONFIRM\\|([^\"\\s}]+)/);\n  if (m && m[1]) nonce = m[1];\n}\nif (!nonce) return msg;\n\nmsg._metric = 'telegram_link_send';\nmsg._nonce = nonce;\nmsg._t0_ms = Date.now();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 120,
        "wires": [
            [
                "4375537651f84de6"
            ]
        ]
    },
    {
        "id": "1b897f07357388a2",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Build Shadow UPDATE (desired+reported lock + cleanup)",
        "func": "let lockTarget = (msg.lockTarget || flow.get('lock') || 'chiusa').toString();\n\nmsg.payload = {\n  state: {\n    desired: {\n      welcome: 'ESIT aws-iot',\n      lock: lockTarget\n    },\n    reported: {\n      welcome: 'ESIT aws-iot',\n      lock: lockTarget,\n      value: null,\n      pending: null,\n      reqid: null,\n      req_ts: null,\n      op: null,\n      op_ts: null,\n      action: null,\n      request: null\n    }\n  }\n};\n\nif (Object.prototype.hasOwnProperty.call(msg, 'last_error')) {\n  msg.payload.state.reported.last_error = msg.last_error;\n}\n\nflow.set('lock', lockTarget);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 300,
        "wires": [
            [
                "7cee75eca2dbcbc2",
                "119c8835f982b65a",
                "feb57b6381fef6b6"
            ]
        ]
    },
    {
        "id": "feb57b6381fef6b6",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Publish custom lock_state to ESP",
        "func": "let lockTarget = (msg.lockTarget || (msg.payload && msg.payload.state && msg.payload.state.reported && msg.payload.state.reported.lock) || flow.get('lock') || 'chiusa').toString();\nmsg.topic = '$aws/things/esit-obj1/custom/lock_state';\nmsg.payload = lockTarget;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 380,
        "wires": [
            [
                "1e06ee055f44c0a1",
                "fdf28288c4a3fbaa"
            ]
        ]
    },
    {
        "id": "1e06ee055f44c0a1",
        "type": "mqtt out",
        "z": "e42535dea0a8f97a",
        "name": "AWS Custom lock_state OUT",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "987e706b5b0617f8",
        "x": 1660,
        "y": 380,
        "wires": []
    },
    {
        "id": "fdf28288c4a3fbaa",
        "type": "debug",
        "z": "e42535dea0a8f97a",
        "name": "DEBUG custom lock_state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1650,
        "y": 430,
        "wires": []
    },
    {
        "id": "7cee75eca2dbcbc2",
        "type": "mqtt out",
        "z": "e42535dea0a8f97a",
        "name": "AWS Shadow UPDATE",
        "topic": "$aws/things/esit-obj1/shadow/update",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "987e706b5b0617f8",
        "x": 1310,
        "y": 300,
        "wires": []
    },
    {
        "id": "63d8415fe0b890da",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Build auth_event payload to ESP",
        "func": "if (!msg.auth_event) return null;\nmsg.topic = '$aws/things/esit-obj1/custom/auth_event';\nmsg.payload = JSON.stringify(msg.auth_event);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 460,
        "wires": [
            [
                "438a309050a7694a",
                "75620ab463edba4d"
            ]
        ]
    },
    {
        "id": "438a309050a7694a",
        "type": "mqtt out",
        "z": "e42535dea0a8f97a",
        "name": "AWS Custom auth_event OUT",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "987e706b5b0617f8",
        "x": 1320,
        "y": 460,
        "wires": []
    },
    {
        "id": "56219c9fca80877f",
        "type": "telegram event",
        "z": "e42535dea0a8f97a",
        "name": "Telegram Event (callback_query)",
        "bot": "00af2f8b6f9b79d7",
        "event": "callback_query",
        "autoanswer": true,
        "x": 180,
        "y": 520,
        "wires": [
            [
                "48e594a8ddcd9e5e"
            ]
        ]
    },
    {
        "id": "48e594a8ddcd9e5e",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Handle callback CONFIRM",
        "func": "let pending = flow.get('pending');\n\nlet data = (msg.payload && msg.payload.content) ? msg.payload.content : null;\nif (data && typeof data === 'object') data = data.data || data.content || null;\nif (!data && msg.originalMessage && msg.originalMessage.callback_query && msg.originalMessage.callback_query.data) {\n  data = msg.originalMessage.callback_query.data;\n}\nif (!data || typeof data !== 'string' || !data.startsWith('CONFIRM|')) return null;\n\nlet nonce = data.split('|')[1] || '';\nlet fromId = null;\nif (msg.originalMessage && msg.originalMessage.callback_query && msg.originalMessage.callback_query.from) {\n  fromId = Number(msg.originalMessage.callback_query.from.id);\n}\n\nif (!pending || !pending.nonce || !pending.user) {\n  return [null, { payload: { chatId: fromId, type: 'message', content: 'Nessuna richiesta in corso.' } }];\n}\n\nif (nonce !== pending.nonce) {\n  return [null, { payload: { chatId: fromId || pending.user.telegram_id, type: 'message', content: 'Conferma non valida (nonce mismatch).' } }];\n}\n\nif (fromId && Number(pending.user.telegram_id) !== fromId) {\n  return [null, { payload: { chatId: fromId, type: 'message', content: 'Conferma non autorizzata per questo utente.' } }];\n}\n\nif (Date.now() > pending.expires) {\n  flow.set('pending', null);\n  let t = flow.get('pendingTimer');\n  if (t) clearTimeout(t);\n  flow.set('pendingTimer', null);\n\n  return [null, { payload: { chatId: pending.user.telegram_id, type: 'message', content: 'Tempo scaduto: serratura NON aperta.' } }];\n}\n\nconst openedBy = pending.user;\n\nflow.set('pending', null);\nlet t = flow.get('pendingTimer');\nif (t) clearTimeout(t);\nflow.set('pendingTimer', null);\n\nreturn [\n  {\n    lockTarget: 'aperta',\n    reason: 'open',\n    last_error: null,\n    auth_event: {\n      event: 'open_authorized',\n      username: (openedBy.username || '').toString(),\n      src: 'telegram',\n      nonce: nonce\n    }\n  },\n  {\n    payload: {\n      chatId: openedBy.telegram_id,\n      type: 'message',\n      content: 'Conferma ricevuta: serratura APERTA.'\n    }\n  }\n];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 520,
        "wires": [
            [
                "1b897f07357388a2",
                "63d8415fe0b890da"
            ],
            [
                "4375537651f84de6"
            ]
        ]
    },
    {
        "id": "4375537651f84de6",
        "type": "telegram sender",
        "z": "e42535dea0a8f97a",
        "name": "Telegram Sender",
        "bot": "00af2f8b6f9b79d7",
        "haserroroutput": true,
        "outputs": 2,
        "x": 2240,
        "y": 160,
        "wires": [
            [
                "bd583c43db662353",
                "4612992069ee0c6c"
            ],
            [
                "76d9bd73d4446fb3"
            ]
        ]
    },
    {
        "id": "4612992069ee0c6c",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "CALC latency + DEBUG (Telegram link)",
        "func": "if (msg._metric !== 'telegram_link_send' || !msg._t0_ms || !msg._nonce) return null;\nconst t1 = Date.now();\nmsg.payload = {\n  metric: 'telegram_link_send_latency_ms',\n  nonce: msg._nonce,\n  latency_ms: t1 - Number(msg._t0_ms),\n  t0_ms: msg._t0_ms,\n  t1_ms: t1\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 120,
        "wires": [
            [
                "b1d6eda7a1941857"
            ]
        ]
    },
    {
        "id": "b1d6eda7a1941857",
        "type": "debug",
        "z": "e42535dea0a8f97a",
        "name": "DEBUG Telegram link latency",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 2860,
        "y": 120,
        "wires": []
    },
    {
        "id": "cc72f0aed66de0fd",
        "type": "debug",
        "z": "e42535dea0a8f97a",
        "name": "DEBUG req/other",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1930,
        "y": 220,
        "wires": []
    },
    {
        "id": "119c8835f982b65a",
        "type": "debug",
        "z": "e42535dea0a8f97a",
        "name": "DEBUG AWS update out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 250,
        "wires": []
    },
    {
        "id": "bd583c43db662353",
        "type": "debug",
        "z": "e42535dea0a8f97a",
        "name": "DEBUG Telegram ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 2520,
        "y": 180,
        "wires": []
    },
    {
        "id": "76d9bd73d4446fb3",
        "type": "debug",
        "z": "e42535dea0a8f97a",
        "name": "DEBUG Telegram errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 2530,
        "y": 240,
        "wires": []
    },
    {
        "id": "954382ede73d2617",
        "type": "ui_ui_control",
        "z": "e42535dea0a8f97a",
        "name": "Admin UI Control",
        "events": "all",
        "x": 710,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "6dc379f07ed19956",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "c58454d211f16d2f",
        "name": "Admin Login Page",
        "order": 1,
        "width": "24",
        "height": "15",
        "format": "<div id=\"esit-login-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-login-{{$id}}{min-height:720px;padding:24px;display:flex;align-items:center;justify-content:center;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-login-{{$id}} *{box-sizing:border-box}\n#esit-login-{{$id}} .card{width:100%;max-width:430px;background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;padding:28px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-login-{{$id}} h1{margin:0 0 22px 0;text-align:center;font-size:28px;color:#C9A227 !important; background: transparent !important}\n#esit-login-{{$id}} label{display:block;margin:0 0 8px 0;font-size:13px;color:#cbd5e1;font-weight:700}\n#esit-login-{{$id}} input{width:100%;margin:0 0 16px 0;padding:12px 14px;border-radius:12px;border:1px solid #334155;background:#0b1220;color:#e5e7eb}\n#esit-login-{{$id}} button{width:100%;padding:12px 16px;border:none;border-radius:12px;background:#2563eb;color:#fff;font-weight:700;cursor:pointer}\n#esit-login-{{$id}} .error{display:none;margin-top:14px;padding:11px 12px;border-radius:12px;background:rgba(127,29,29,.55);color:#fecaca;border:1px solid rgba(220,38,38,.5)}\n#esit-login-{{$id}} .hint{margin-top:16px;text-align:center;color:#94a3b8;font-size:12px}\n</style>\n<div class=\"card\">\n  <h1>Benvenuto Admin</h1>\n  <label for=\"esit-user-{{$id}}\">Username</label>\n  <input id=\"esit-user-{{$id}}\" type=\"text\" autocomplete=\"username\" placeholder=\"Inserisci username\">\n  <label for=\"esit-pass-{{$id}}\">Password</label>\n  <input id=\"esit-pass-{{$id}}\" type=\"password\" autocomplete=\"current-password\" placeholder=\"Inserisci password\">\n  <button id=\"esit-login-btn-{{$id}}\">Accedi</button>\n  <div id=\"esit-login-err-{{$id}}\" class=\"error\">Credenziali errate</div>\n  <div class=\"hint\">Two-Steps Security Administratore page</div>\n</div>\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-login-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var u=document.getElementById(\"esit-user-\"+scope.$id);\n    var p=document.getElementById(\"esit-pass-\"+scope.$id);\n    var b=document.getElementById(\"esit-login-btn-\"+scope.$id);\n    var e=document.getElementById(\"esit-login-err-\"+scope.$id);\n    function goDashboard(){ scope.send({payload:{tab:\"Admin Dashboard\"}}); }\n    function showError(msg){ e.textContent=msg||\"Credenziali errate\"; e.style.display=\"block\"; }\n    function hideError(){ e.style.display=\"none\"; }\n    function login(){\n      var username=(u.value||\"\").trim();\n      var password=p.value||\"\";\n      if(username===\"admin\" && password===\"admin123\"){\n        window.sessionStorage.setItem(AUTH_KEY,\"1\");\n        hideError();\n        p.value=\"\";\n        goDashboard();\n      } else showError(\"Credenziali errate\");\n    }\n    if(window.sessionStorage.getItem(AUTH_KEY)===\"1\"){ goDashboard(); return; }\n    b.addEventListener(\"click\",login);\n    [u,p].forEach(function(el){\n      el.addEventListener(\"keydown\",function(ev){ if(ev.key===\"Enter\") login(); });\n      el.addEventListener(\"input\",hideError);\n    });\n    u.focus();\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 470,
        "y": 660,
        "wires": [
            [
                "954382ede73d2617"
            ]
        ]
    },
    {
        "id": "e5d7492d5f12edaa",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "168ad433bdc679e3",
        "name": "Admin Dashboard Page",
        "order": 1,
        "width": "24",
        "height": "24",
        "format": "<div id=\"esit-dash-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-dash-{{$id}}{min-height:1100px;padding:20px;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-dash-{{$id}} *{box-sizing:border-box}\n#esit-dash-{{$id}} .guard{display:none;min-height:460px;align-items:center;justify-content:center}\n#esit-dash-{{$id}} .guard .card,#esit-dash-{{$id}} .dash .card{background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-dash-{{$id}} .guard .card{max-width:520px;padding:28px;text-align:center}\n#esit-dash-{{$id}} .guard .card h2{\nmargin:0;\ncolor:#C9A227 !important;\nbackground:transparent !important;\n}\n\n#esit-dash-{{$id}} .title{\nmargin:0;\ncolor:#fff !important;\nbackground:transparent !important;\n}\n\n#esit-dash-{{$id}} .guard .card p{\ncolor:#ffffff !important;\nbackground:transparent !important;\nfont-size:16px !important;\nline-height:1.2 !important;\nmargin-top:10px !important;\nmargin-bottom:15px !important;\n}\n#esit-dash-{{$id}} .dash{display:none;max-width:1400px;margin:0 auto}\n#esit-dash-{{$id}} .topbar{display:flex;justify-content:space-between;gap:16px;align-items:flex-start;flex-wrap:wrap;margin-bottom:24px}\n#esit-dash-{{$id}} .subtitle{margin-top:6px;color:#94a3b8}\n#esit-dash-{{$id}} .logout{background:#ef4444;color:#fff;border:none;border-radius:12px;padding:12px 18px;font-weight:700;cursor:pointer}\n#esit-dash-{{$id}} .section{margin:26px 0 12px 0;font-size:19px;font-weight:700;color:#fff}\n#esit-dash-{{$id}} .grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(260px,1fr));gap:16px}\n#esit-dash-{{$id}} .card{padding:18px;min-height:185px;display:flex;flex-direction:column;justify-content:space-between}\n#esit-dash-{{$id}} .pill{display:inline-flex;width:max-content;padding:6px 10px;border-radius:999px;background:rgba(37,99,235,.16);border:1px solid rgba(96,165,250,.35);color:#bfdbfe;font-size:11px;font-weight:700}\n#esit-dash-{{$id}} h3{margin:10px 0 8px 0;color:#C9A227 !important;font-size:17px; background: transparent !important}\n#esit-dash-{{$id}} p{margin:0;color:#fff !important;font-size:13px;line-height:1.6; background: transparent !important}\n#esit-dash-{{$id}} .btn{width:100%;padding:12px 16px;border:none;border-radius:12px;background:#1e293b;color:#e2e8f0;font-weight:700;cursor:pointer; margin-top: 10px}\n#esit-dash-{{$id}} .lock-banner{\ndisplay:block;\nmargin-top:22px;\npadding:12px 14px;\nborder-radius:12px;\nborder:1px solid #334155;\ntext-align:center;\nfont-weight:700;\nfont-size:15px;\n}\n#esit-dash-{{$id}} .lock-banner.open{\nbackground:rgba(20,83,45,.45);\nborder-color:rgba(34,197,94,.45);\ncolor:#bbf7d0;\n}\n#esit-dash-{{$id}} .lock-banner.closed{\nbackground:rgba(127,29,29,.55);\nborder-color:rgba(220,38,38,.5);\ncolor:#fecaca;\n}\n</style>\n<div id=\"esit-dash-guard-{{$id}}\" class=\"guard\">\n  <div class=\"card\">\n    <h2>Accesso non autorizzato</h2>\n    <p>Non risulti autenticato. Verrai reindirizzato automaticamente alla pagina di login.</p>\n  </div>\n</div>\n<div id=\"esit-dash-view-{{$id}}\" class=\"dash\">\n  <div class=\"topbar\">\n    <div>\n      <h1 class=\"title\">Dashboard Amministratore</h1>\n      <div class=\"subtitle\">Two-Steps Security</div>\n    </div>\n    <button id=\"esit-logout-btn-{{$id}}\" class=\"logout\">Logout</button>\n  </div>\n\n  <div class=\"section\">Gestione utenti</div>\n  <div class=\"grid\">\n    <div class=\"card\"><div><div class=\"pill\">1</div><h3>Visualizzazione utenti</h3><p>Elenco utenti registrati nel sistema con stato e informazioni principali.</p></div><button id=\"esit-view-users-btn-{{$id}}\" class=\"btn\">Vai</button></div>\n    <div class=\"card\"><div><div class=\"pill\">2</div><h3>Aggiunta utente</h3><p>Aggiungi nuovi utenti che potranno accedere al sistema.</p></div><button id=\"esit-add-user-btn-{{$id}}\" class=\"btn\">Vai</button></div>\n    <div class=\"card\"><div><div class=\"pill\">3</div><h3>Modifica utente</h3><p>Aggiornamento dei dati dell'utente.</p></div><button id=\"esit-edit-users-btn-{{$id}}\" class=\"btn\">Vai</button></div>\n    <div class=\"card\"><div><div class=\"pill\">4</div><h3>Disabilitazione utente</h3><p>Disabilitazione temporanea del profilo utente.</p></div><button id=\"esit-disable-users-btn-{{$id}}\" class=\"btn\">Vai</button></div>\n    <div class=\"card\"><div><div class=\"pill\">5</div><h3>Riabilitazione utente</h3><p>Riattivazione di un profilo precedentemente disabilitato.</p></div><button id=\"esit-enable-users-btn-{{$id}}\" class=\"btn\">Vai</button></div>\n    <div class=\"card\"><div><div class=\"pill\">6</div><h3>Eliminazione utente</h3><p>Rimozione del profilo utente dal sistema.</p></div><button id=\"esit-delete-users-btn-{{$id}}\" class=\"btn\">Vai</button></div>\n  </div>\n\n  <div class=\"section\">Monitoraggio e sicurezza</div>\n  <div class=\"grid\">\n    <div class=\"card\">\n      <div>\n        <div class=\"pill\">7</div>\n        <h3>Monitoraggio attività utenti</h3>\n        <p>Storico eventi con filtri per data e username.</p>\n      </div><button id=\"esit-activity-log-btn-{{$id}}\" class=\"btn\">Vai</button>\n      </div>\n<div class=\"card\">\n  <div>\n    <div class=\"pill\">8</div>\n    <h3>Configurazione parametri di sicurezza</h3>\n    <p>Gestione countdown, impostazioni e parametri di sicurezza.</p>\n  </div><button id=\"esit-security-config-btn-{{$id}}\" class=\"btn\">Vai</button>\n</div>  </div>\n\n  <div class=\"section\">Comandi serratura</div>\n  <div class=\"grid\">\n    <div class=\"card\"><div><div class=\"pill\">9</div><h3>Apertura serratura</h3><p>Comando remoto di apertura della serratura via dashboard.</p></div><button id=\"esit-open-btn-{{$id}}\" class=\"btn\">Apri</button></div>\n    <div class=\"card\"><div><div class=\"pill\">10</div><h3>Chiusura serratura</h3><p>Comando remoto di chiusura della serratura via dashboard.</p></div><button id=\"esit-close-btn-{{$id}}\" class=\"btn\">Chiudi</button></div>\n  </div>\n\n  <div id=\"esit-lock-banner-{{$id}}\" class=\"lock-banner closed\">Stato serratura: CHIUSA</div>\n</div>\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-dash-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    if(root.dataset.bound===\"1\") return;\n    root.dataset.bound=\"1\";\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var guard=document.getElementById(\"esit-dash-guard-\"+scope.$id);\n    var dash=document.getElementById(\"esit-dash-view-\"+scope.$id);\n    var logoutBtn=document.getElementById(\"esit-logout-btn-\"+scope.$id);\n    var addBtn=document.getElementById(\"esit-add-user-btn-\"+scope.$id);\n    var viewBtn=document.getElementById(\"esit-view-users-btn-\"+scope.$id);\n    var editBtn=document.getElementById(\"esit-edit-users-btn-\"+scope.$id);\n    var disableBtn=document.getElementById(\"esit-disable-users-btn-\"+scope.$id);\n    var enableBtn=document.getElementById(\"esit-enable-users-btn-\"+scope.$id);\n    var deleteBtn=document.getElementById(\"esit-delete-users-btn-\"+scope.$id);\n    var securityBtn=document.getElementById(\"esit-security-config-btn-\"+scope.$id);\n    var activityBtn=document.getElementById(\"esit-activity-log-btn-\"+scope.$id);\n    var openBtn=document.getElementById(\"esit-open-btn-\"+scope.$id);\n    var closeBtn=document.getElementById(\"esit-close-btn-\"+scope.$id);\n    var lockBanner=document.getElementById(\"esit-lock-banner-\"+scope.$id);\n    function goLogin(){ scope.send({payload:{tab:\"Login Admin\"}}); }\n    function setLockBanner(lock){\n    lock=(lock||\"chiusa\").toString().trim().toLowerCase();\n    if(lock!==\"aperta\" && lock!==\"chiusa\") lock=\"chiusa\";\n    \n    lockBanner.textContent=\"Stato serratura: \" + lock.toUpperCase();\n    lockBanner.classList.remove(\"open\",\"closed\");\n    lockBanner.classList.add(lock===\"aperta\" ? \"open\" : \"closed\");\n    }\n    function render(){\n      var logged=window.sessionStorage.getItem(AUTH_KEY)===\"1\";\n      guard.style.display=logged?\"none\":\"flex\";\n      dash.style.display=logged?\"block\":\"none\";\n      if(!logged) setTimeout(goLogin,3000);\n    }\n    logoutBtn.addEventListener(\"click\",function(){ window.sessionStorage.removeItem(AUTH_KEY); goLogin(); });\n    addBtn.addEventListener(\"click\",function(){ scope.send({payload:{tab:\"Aggiunta Utente\"}}); });\n    viewBtn.addEventListener(\"click\",function(){ scope.send({payload:{tab:\"Visualizzazione Utenti\"},page_action:\"view_users_load\"}); });\n    editBtn.addEventListener(\"click\",function(){ scope.send({payload:{tab:\"Modifica Utenti\"},page_action:\"edit_users_load\"}); });\n    disableBtn.addEventListener(\"click\",function(){ scope.send({payload:{tab:\"Disabilitazione Utente\"},page_action:\"disable_users_load\"}); });\n    enableBtn.addEventListener(\"click\",function(){ scope.send({payload:{tab:\"Riabilitazione Utente\"},page_action:\"enable_users_load\"}); });\n    deleteBtn.addEventListener(\"click\",function(){ scope.send({payload:{tab:\"Eliminazione Utente\"},page_action:\"delete_users_load\"}); });\n    securityBtn.addEventListener(\"click\",function(){ scope.send({payload:{tab:\"Configurazione Sicurezza\"}}); });\n    activityBtn.addEventListener(\"click\",function(){ scope.send({payload:{tab:\"Monitoraggio Attività Utenti\"}}); });\n    openBtn.addEventListener(\"click\",function(){ scope.send({admin_action:\"open_lock\"}); });\n    closeBtn.addEventListener(\"click\",function(){ scope.send({admin_action:\"close_lock\"}); });\n    scope.$watch(\"msg\", function(msg){\n    if(!msg || !msg.payload) return;\n    \n    var p=msg.payload;\n    var lock=null;\n    \n    if(typeof p.lock_status===\"string\"){\n    lock=p.lock_status;\n    } else if(p.lock_banner && typeof p.lock_banner.lock_status===\"string\"){\n    lock=p.lock_banner.lock_status;\n    } else if(p.lock_banner && typeof p.lock_banner.message===\"string\"){\n    var m=p.lock_banner.message.toUpperCase();\n    if(m.indexOf(\"APERTA\")>=0) lock=\"aperta\";\n    else if(m.indexOf(\"CHIUSA\")>=0) lock=\"chiusa\";\n    }\n    \n    if(lock) setLockBanner(lock);\n    });\n    render();\n    setLockBanner(\"chiusa\");\n    \n    scope.send({page_action:\"dashboard_load\"});\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 470,
        "y": 760,
        "wires": [
            [
                "954382ede73d2617",
                "22f8f1206e486043",
                "f0bfb3c78b092739",
                "d462b9e29ab945c0",
                "e62be5611d068f6d",
                "db4a2bc50ba1c64f",
                "98a6667aa7017d5c",
                "18c320f33f510e28"
            ]
        ]
    },
    {
        "id": "22f8f1206e486043",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Handle Admin lock command (dashboard)",
        "func": "let action = (msg.admin_action || '').toString();\nif (!action) return null;\n\nlet t = flow.get('pendingTimer');\nif (t) {\n  clearTimeout(t);\n  flow.set('pendingTimer', null);\n}\nflow.set('pending', null);\n\nlet lockTarget = null;\nif (action === 'open_lock') lockTarget = 'aperta';\nelse if (action === 'close_lock') lockTarget = 'chiusa';\nelse return null;\n\nflow.set('lock', lockTarget);\n\nmsg.lockTarget = lockTarget;\nmsg.reason = (action === 'open_lock') ? 'admin_open' : 'admin_close';\nmsg.last_error = null;\nmsg.auth_event = {\n  event: (action === 'open_lock') ? 'open_authorized' : 'close_authorized',\n  username: 'admin',\n  src: 'admin_dashboard',\n  mode: 'admin_override'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 760,
        "wires": [
            [
                "1b897f07357388a2",
                "63d8415fe0b890da",
                "1f4422e27e4ec418"
            ]
        ]
    },
    {
        "id": "a735c92ef2d4c748",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare add user request",
        "func": "if ((msg.form_action || '').toString() !== 'add_user') return null;\n\nconst u = msg.user || {};\nconst username = (u.username || '').toString().trim();\nconst accessCode = (u.access_code || '').toString().trim();\nconst telegramId = (u.telegram_id || '').toString().trim();\nconst status = (u.status || '').toString().trim().toUpperCase();\n\nfunction feedback(message) {\n  return { payload: { form_feedback: { status: 'error', message } } };\n}\n\nif (!username) return [null, feedback('Username obbligatorio.')];\nif (!/^[A-Za-z0-9_]{3,64}$/.test(username)) {\n  return [null, feedback('Username non valido: usa 3-64 caratteri alfanumerici o underscore.')];\n}\n\nif (!accessCode) return [null, feedback('Access code obbligatorio.')];\nif (!/^[0-9]+$/.test(accessCode)) {\n  return [null, feedback('Access code non valido: usa solo cifre.')];\n}\nif (accessCode.length > 16) {\n  node.warn('Access code troppo lungo: massimo 16 cifre.');\n  return [null, feedback('Access code troppo lungo: massimo 16 cifre.')];\n}\n\nif (!telegramId) return [null, feedback('Telegram ID obbligatorio.')];\nif (!/^[0-9]+$/.test(telegramId)) {\n  return [null, feedback('Telegram ID non valido: usa solo cifre.')];\n}\nif (telegramId.length > 15) {\n  node.warn('Telegram ID troppo lungo: massimo 15 cifre.');\n  return [null, feedback('Telegram ID troppo lungo: massimo 15 cifre.')];\n}\n\nconst telegramIdNum = Number(telegramId);\nif (!Number.isSafeInteger(telegramIdNum) || telegramIdNum <= 0) {\n  return [null, feedback('Telegram ID non valido.')];\n}\n\nconst telegramIdNorm = String(telegramIdNum);\n\nif (status !== 'ABILITATO' && status !== 'DISABILITATO') {\n  return [null, feedback('Status non valido.')];\n}\n\nconst fingerprint = [username, accessCode, telegramIdNorm, status].join('|');\nconst lastSuccess = flow.get('lastAddUserSuccess');\n\nif (\n  lastSuccess &&\n  lastSuccess.fingerprint === fingerprint &&\n  (Date.now() - Number(lastSuccess.ts || 0)) < 8000\n) {\n  return [null, {\n    payload: {\n      form_feedback: {\n        status: 'success',\n        message: 'Utente aggiunto con successo.'\n      }\n    }\n  }];\n}\n\nconst addUserLock = flow.get('addUserLock');\nif (\n  addUserLock &&\n  addUserLock.fingerprint === fingerprint &&\n  (Date.now() - Number(addUserLock.ts || 0)) < 8000\n) {\n  return null;\n}\n\nflow.set('addUserLock', { fingerprint, ts: Date.now() });\n\nmsg.new_user = {\n  username,\n  access_code: accessCode,\n  telegram_id: telegramIdNorm,\n  status,\n  _fingerprint: fingerprint\n};\n\nmsg.params = [username, accessCode, telegramIdNum];\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 900,
        "wires": [
            [
                "8ac2025b93d7914d"
            ],
            [
                "e9dadb2011046feb"
            ]
        ]
    },
    {
        "id": "8ac2025b93d7914d",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Check add user conflicts",
        "query": "SELECT username, access_code, telegram_id FROM utenti WHERE username = $1 OR access_code = $2 OR telegram_id = $3;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1180,
        "y": 860,
        "wires": [
            [
                "1c5bd88562e0cbef"
            ]
        ]
    },
    {
        "id": "1c5bd88562e0cbef",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Decide add user / insert",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst user = msg.new_user || {};\nconst fingerprint = user._fingerprint || [user.username, user.access_code, user.telegram_id, user.status].join('|');\nconst lastSuccess = flow.get('lastAddUserSuccess');\n\nif (\n  rows.length > 0 &&\n  lastSuccess &&\n  lastSuccess.fingerprint === fingerprint &&\n  (Date.now() - Number(lastSuccess.ts || 0)) < 8000\n) {\n  flow.set('addUserLock', null);\n  return [null, {\n    payload: {\n      form_feedback: {\n        status: 'success',\n        message: 'Utente aggiunto con successo.'\n      }\n    }\n  }];\n}\n\nif (rows.length > 0) {\n  flow.set('addUserLock', null);\n\n  let message = 'Esiste già un utente con gli stessi dati.';\n  if (rows.some(r => (r.username || '').toString() === user.username)) {\n    message = 'Username già presente nel database.';\n  } else if (rows.some(r => (r.access_code || '').toString() === user.access_code)) {\n    message = 'Access code già assegnato a un altro utente.';\n  } else if (rows.some(r => String(r.telegram_id) === String(user.telegram_id))) {\n    message = 'Telegram ID già presente nel database.';\n  }\n\n  return [null, { payload: { form_feedback: { status: 'error', message } } }];\n}\n\nconst telegramIdNum = Number(user.telegram_id);\nif (!Number.isSafeInteger(telegramIdNum) || telegramIdNum <= 0) {\n  flow.set('addUserLock', null);\n  return [null, {\n    payload: {\n      form_feedback: {\n        status: 'error',\n        message: 'Telegram ID non valido.'\n      }\n    }\n  }];\n}\n\nmsg.params = [\n  user.username,\n  user.access_code,\n  telegramIdNum,\n  user.status\n];\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 860,
        "wires": [
            [
                "c38afa68444b0857"
            ],
            [
                "e9dadb2011046feb"
            ]
        ]
    },
    {
        "id": "c38afa68444b0857",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Insert user",
        "query": "INSERT INTO utenti (username, access_code, telegram_id, status) VALUES ($1, $2, $3, $4) RETURNING id, username, access_code, telegram_id, status;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1810,
        "y": 860,
        "wires": [
            [
                "6b071d07f5af14cc"
            ]
        ]
    },
    {
        "id": "6b071d07f5af14cc",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Add user success feedback",
        "func": "const user = msg.new_user || {};\nconst fingerprint = user._fingerprint || [user.username, user.access_code, user.telegram_id, user.status].join('|');\n\nflow.set('addUserLock', null);\nflow.set('lastAddUserSuccess', {\n  fingerprint,\n  ts: Date.now()\n});\n\nmsg.payload = {\n  form_feedback: {\n    status: 'success',\n    message: 'Utente aggiunto con successo.'\n  }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 860,
        "wires": [
            [
                "e9dadb2011046feb"
            ]
        ]
    },
    {
        "id": "be6587cd293e5548",
        "type": "catch",
        "z": "e42535dea0a8f97a",
        "name": "Catch PostgreSQL errors",
        "scope": [
            "8ac2025b93d7914d",
            "c38afa68444b0857",
            "0d23233f8c965c99",
            "062dfd67beaf582c",
            "ec456a9d9426e75a",
            "1689c4af6a203875",
            "c13a3e32f7fa110b",
            "a3f67b9f17828429",
            "2246244bff593452",
            "fb15937da2347171",
            "4822b89adf473e2a",
            "d4b06ad806651301",
            "71c92a4224187481",
            "00fba2199a79250b"
        ],
        "uncaught": false,
        "x": 1190,
        "y": 980,
        "wires": [
            [
                "c08cb6ef5b25cf7c"
            ]
        ]
    },
    {
        "id": "c08cb6ef5b25cf7c",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format DB errors",
        "func": "const sourceName = (msg.error && msg.error.source && msg.error.source.name)\n  ? msg.error.source.name.toString().trim()\n  : 'PostgreSQL';\n\nconst errorText = (msg.error && msg.error.message)\n  ? msg.error.message.toString()\n  : 'Errore database';\n\nfunction addUserFeedback(message) {\n  return { payload: { form_feedback: { status: 'error', message } } };\n}\n\nfunction pageFeedback(message) {\n  return { payload: { feedback: { status: 'error', message } } };\n}\n\nfunction authDbCleanup(message) {\n  return {\n    lockTarget: (flow.get('lock') || 'chiusa').toString(),\n    reason: 'db_auth_error',\n    last_error: {\n      type: 'db_auth_error',\n      msg: message,\n      ts: Math.floor(Date.now() / 1000)\n    }\n  };\n}\n\nconst debugMsg = { payload: { source: sourceName, error: errorText } };\n\nconst routes = {\n  'DB Check add user conflicts': {\n    output: 0,\n    type: 'addUser',\n    message: 'Errore database durante il salvataggio: '\n  },\n  'DB Insert user': {\n    output: 0,\n    type: 'addUser',\n    message: 'Errore database durante il salvataggio: '\n  },\n  'DB Load all users (view)': {\n    output: 1,\n    type: 'page',\n    message: 'Errore database durante il caricamento utenti: '\n  },\n  'DB Load all users (edit list)': {\n    output: 2,\n    type: 'page',\n    message: 'Errore database durante il caricamento utenti: '\n  },\n  'DB Load single user for edit': {\n    output: 2,\n    type: 'page',\n    message: 'Errore database durante il caricamento utenti: '\n  },\n  'DB Check edit user conflicts': {\n    output: 3,\n    type: 'page',\n    message: 'Errore database durante la modifica utente: '\n  },\n  'DB Update user': {\n    output: 3,\n    type: 'page',\n    message: 'Errore database durante la modifica utente: '\n  },\n  'DB Load enabled users': {\n    output: 4,\n    type: 'page',\n    message: 'Errore database durante la disabilitazione utente: '\n  },\n  'DB Disable user': {\n    output: 4,\n    type: 'page',\n    message: 'Errore database durante la disabilitazione utente: '\n  },\n  'DB Load disabled users': {\n    output: 5,\n    type: 'page',\n    message: 'Errore database durante la riabilitazione utente: '\n  },\n  'DB Enable user': {\n    output: 5,\n    type: 'page',\n    message: 'Errore database durante la riabilitazione utente: '\n  },\n  'DB Load all users (delete)': {\n    output: 6,\n    type: 'page',\n    message: 'Errore database durante il caricamento utenti per eliminazione: '\n  },\n  'DB Delete user': {\n    output: 6,\n    type: 'page',\n    message: 'Errore database durante l\\'eliminazione utente: '\n  },\n  'DB Find user by access code': {\n    output: 7,\n    type: 'authDb',\n    message: 'Errore database durante l\\'autenticazione codice: '\n  }\n};\n\nconst route = routes[sourceName] || null;\nconst out = [null, null, null, null, null, null, null, null, debugMsg];\n\nif (!route) return out;\n\nif (route.type === 'addUser') {\n  flow.set('addUserLock', null);\n  out[route.output] = addUserFeedback(route.message + errorText);\n  return out;\n}\n\nif (route.type === 'authDb') {\n  out[route.output] = authDbCleanup(route.message + errorText);\n  return out;\n}\n\nout[route.output] = pageFeedback(route.message + errorText);\nreturn out;",
        "outputs": 9,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 980,
        "wires": [
            [
                "e9dadb2011046feb"
            ],
            [
                "e18119ad5063ce53"
            ],
            [
                "d5f2a5f6c400366d"
            ],
            [
                "c60a442cdc11c219"
            ],
            [
                "5c242118c6a5f364"
            ],
            [
                "77e4cfd85c617945"
            ],
            [
                "acae1d2c4938abc8"
            ],
            [
                "1b897f07357388a2"
            ],
            [
                "1fc0bf28e0adc927"
            ]
        ]
    },
    {
        "id": "1fc0bf28e0adc927",
        "type": "debug",
        "z": "e42535dea0a8f97a",
        "name": "DEBUG DB errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1770,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e18119ad5063ce53",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "47b55659c00ae08c",
        "name": "View Users Page",
        "order": 1,
        "width": "24",
        "height": "18",
        "format": "<div id=\"esit-view-users-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-view-users-{{$id}}{min-height:760px;padding:20px;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-view-users-{{$id}} *{box-sizing:border-box}\n#esit-view-users-{{$id}} .guard{display:none;min-height:460px;align-items:center;justify-content:center}\n#esit-view-users-{{$id}} .guard .card,#esit-view-users-{{$id}} .panel{background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-view-users-{{$id}} .guard .card{max-width:520px;padding:28px;text-align:center}\n#esit-view-users-{{$id}} .guard h2{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-view-users-{{$id}} .guard p{margin-top:16px;color:#fff !important;background:transparent !important}\n#esit-view-users-{{$id}} .view{display:none;max-width:1400px;margin:0 auto}\n#esit-view-users-{{$id}} .topbar{display:flex;justify-content:space-between;gap:16px;align-items:flex-start;flex-wrap:wrap;margin-bottom:22px}\n#esit-view-users-{{$id}} h1{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-view-users-{{$id}} .sub{margin-top:6px;color:#94a3b8}\n#esit-view-users-{{$id}} .actions{display:flex;gap:10px;flex-wrap:wrap}\n#esit-view-users-{{$id}} .btn{border:none;border-radius:12px;padding:12px 18px;font-weight:700;cursor:pointer}\n#esit-view-users-{{$id}} .back{background:#1e293b;color:#e2e8f0}\n#esit-view-users-{{$id}} .refresh{background:#2563eb;color:#fff}\n#esit-view-users-{{$id}} .panel{padding:22px;overflow:auto}\n#esit-view-users-{{$id}} table{width:100%;border-collapse:collapse;min-width:880px}\n#esit-view-users-{{$id}} th,#esit-view-users-{{$id}} td{padding:12px 10px;border-bottom:1px solid #334155;text-align:left;font-size:13px;color:#e5e7eb}\n#esit-view-users-{{$id}} th{color:#93c5fd;font-size:12px;text-transform:uppercase;letter-spacing:.04em}\n#esit-view-users-{{$id}} .badge{display:inline-flex;padding:6px 10px;border-radius:999px;font-size:11px;font-weight:700}\n#esit-view-users-{{$id}} .ok{background:rgba(20,83,45,.45);color:#bbf7d0;border:1px solid rgba(34,197,94,.45)}\n#esit-view-users-{{$id}} .err{background:rgba(127,29,29,.55);color:#fecaca;border:1px solid rgba(220,38,38,.5)}\n#esit-view-users-{{$id}} .status{display:none;margin:0 0 16px 0;padding:12px 14px;border-radius:12px;border:1px solid #334155}\n#esit-view-users-{{$id}} .status.show{display:block}\n#esit-view-users-{{$id}} .status.error{background:rgba(127,29,29,.55);border-color:rgba(220,38,38,.5);color:#fecaca}\n#esit-view-users-{{$id}} .empty{padding:18px;border:1px dashed #334155;border-radius:14px;color:#94a3b8;text-align:center}\n</style>\n<div id=\"esit-view-users-guard-{{$id}}\" class=\"guard\">\n  <div class=\"card\">\n    <h2>Accesso non autorizzato</h2>\n    <p>Non risulti autenticato. Verrai reindirizzato automaticamente alla pagina di login.</p>\n  </div>\n</div>\n<div id=\"esit-view-users-view-{{$id}}\" class=\"view\">\n  <div class=\"topbar\">\n    <div>\n      <h1>Visualizzazione utenti</h1>\n      <div class=\"sub\">Elenco completo di tutti gli utenti presenti nel database.</div>\n    </div>\n    <div class=\"actions\">\n      <button id=\"esit-view-users-refresh-{{$id}}\" class=\"btn refresh\">Aggiorna</button>\n      <button id=\"esit-view-users-back-{{$id}}\" class=\"btn back\">Torna alla dashboard</button>\n    </div>\n  </div>\n  <div class=\"panel\">\n    <div id=\"esit-view-users-status-{{$id}}\" class=\"status\"></div>\n    <div id=\"esit-view-users-table-wrap-{{$id}}\"></div>\n  </div>\n</div>\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-view-users-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    if(root.dataset.bound===\"1\") return;\n    root.dataset.bound=\"1\";\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var guard=document.getElementById(\"esit-view-users-guard-\"+scope.$id);\n    var view=document.getElementById(\"esit-view-users-view-\"+scope.$id);\n    var backBtn=document.getElementById(\"esit-view-users-back-\"+scope.$id);\n    var refreshBtn=document.getElementById(\"esit-view-users-refresh-\"+scope.$id);\n    var statusBox=document.getElementById(\"esit-view-users-status-\"+scope.$id);\n    var tableWrap=document.getElementById(\"esit-view-users-table-wrap-\"+scope.$id);\n\n    function goLogin(){ scope.send({payload:{tab:\"Login Admin\"}}); }\n    function goDash(){ scope.send({payload:{tab:\"Admin Dashboard\"}}); }\n    function load(){ scope.send({page_action:\"view_users_load\"}); }\n    function render(){\n      var logged=window.sessionStorage.getItem(AUTH_KEY)===\"1\";\n      guard.style.display=logged?\"none\":\"flex\";\n      view.style.display=logged?\"block\":\"none\";\n      if(!logged){ setTimeout(goLogin,3000); return; }\n      load();\n    }\n    function setStatus(kind,msg){\n      statusBox.className=\"status\";\n      statusBox.textContent=msg||\"\";\n      if(!msg) return;\n      statusBox.classList.add(\"show\");\n      if(kind===\"error\") statusBox.classList.add(\"error\");\n    }\n    function esc(v){\n      return String(v===undefined || v===null ? \"\" : v)\n        .replace(/&/g,\"&amp;\").replace(/</g,\"&lt;\").replace(/>/g,\"&gt;\")\n        .replace(/\"/g,\"&quot;\").replace(/'/g,\"&#39;\");\n    }\n    function renderUsers(users){\n      users=Array.isArray(users)?users:[];\n      if(!users.length){\n        tableWrap.innerHTML='<div class=\"empty\">Nessun utente presente.</div>';\n        return;\n      }\n      var html='<table><thead><tr><th>ID</th><th>Username</th><th>Access code</th><th>Telegram ID</th><th>Status</th></tr></thead><tbody>';\n      users.forEach(function(u){\n        var badge=(u.status===\"ABILITATO\")?'<span class=\"badge ok\">ABILITATO</span>':'<span class=\"badge err\">DISABILITATO</span>';\n        html+='<tr>'+\n          '<td>'+esc(u.id)+'</td>'+\n          '<td>'+esc(u.username)+'</td>'+\n          '<td>'+esc(u.access_code)+'</td>'+\n          '<td>'+esc(u.telegram_id)+'</td>'+\n          '<td>'+badge+'</td>'+\n        '</tr>';\n      });\n      html+='</tbody></table>';\n      tableWrap.innerHTML=html;\n    }\n\n    backBtn.addEventListener(\"click\",goDash);\n    refreshBtn.addEventListener(\"click\",load);\n    render();\n\n    scope.$watch(\"msg\", function(msg){\n      if(!msg || !msg.payload) return;\n      if(msg.payload.feedback) setStatus(msg.payload.feedback.status, msg.payload.feedback.message);\n      if(Array.isArray(msg.payload.users)) renderUsers(msg.payload.users);\n    });\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 1100,
        "wires": [
            [
                "954382ede73d2617",
                "f0bfb3c78b092739"
            ]
        ]
    },
    {
        "id": "d5f2a5f6c400366d",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "1174406d157ee713",
        "name": "Edit Users List Page",
        "order": 1,
        "width": "24",
        "height": "18",
        "format": "<div id=\"esit-edit-users-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-edit-users-{{$id}}{min-height:760px;padding:20px;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-edit-users-{{$id}} *{box-sizing:border-box}\n#esit-edit-users-{{$id}} .guard{display:none;min-height:460px;align-items:center;justify-content:center}\n#esit-edit-users-{{$id}} .guard .card,#esit-edit-users-{{$id}} .panel{background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-edit-users-{{$id}} .guard .card{max-width:520px;padding:28px;text-align:center}\n#esit-edit-users-{{$id}} .guard h2{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-edit-users-{{$id}} .guard p{margin-top:16px;color:#fff !important;background:transparent !important}\n#esit-edit-users-{{$id}} .view{display:none;max-width:1450px;margin:0 auto}\n#esit-edit-users-{{$id}} .topbar{display:flex;justify-content:space-between;gap:16px;align-items:flex-start;flex-wrap:wrap;margin-bottom:22px}\n#esit-edit-users-{{$id}} h1{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-edit-users-{{$id}} .sub{margin-top:6px;color:#94a3b8}\n#esit-edit-users-{{$id}} .actions{display:flex;gap:10px;flex-wrap:wrap}\n#esit-edit-users-{{$id}} .btn{border:none;border-radius:12px;padding:12px 18px;font-weight:700;cursor:pointer}\n#esit-edit-users-{{$id}} .back{background:#1e293b;color:#e2e8f0}\n#esit-edit-users-{{$id}} .refresh{background:#2563eb;color:#fff}\n#esit-edit-users-{{$id}} .panel{padding:22px;overflow:auto}\n#esit-edit-users-{{$id}} table{width:100%;border-collapse:collapse;min-width:980px}\n#esit-edit-users-{{$id}} th,#esit-edit-users-{{$id}} td{padding:12px 10px;border-bottom:1px solid #334155;text-align:left;font-size:13px;color:#e5e7eb}\n#esit-edit-users-{{$id}} th{color:#93c5fd;font-size:12px;text-transform:uppercase;letter-spacing:.04em}\n#esit-edit-users-{{$id}} .badge{display:inline-flex;padding:6px 10px;border-radius:999px;font-size:11px;font-weight:700}\n#esit-edit-users-{{$id}} .ok{background:rgba(20,83,45,.45);color:#bbf7d0;border:1px solid rgba(34,197,94,.45)}\n#esit-edit-users-{{$id}} .err{background:rgba(127,29,29,.55);color:#fecaca;border:1px solid rgba(220,38,38,.5)}\n#esit-edit-users-{{$id}} .rowbtn{border:none;border-radius:10px;padding:10px 14px;background:#2563eb;color:#fff;font-weight:700;cursor:pointer}\n#esit-edit-users-{{$id}} .status{display:none;margin:0 0 16px 0;padding:12px 14px;border-radius:12px;border:1px solid #334155}\n#esit-edit-users-{{$id}} .status.show{display:block}\n#esit-edit-users-{{$id}} .status.error{background:rgba(127,29,29,.55);border-color:rgba(220,38,38,.5);color:#fecaca}\n#esit-edit-users-{{$id}} .status.success{background:rgba(20,83,45,.45);border-color:rgba(34,197,94,.45);color:#bbf7d0}\n#esit-edit-users-{{$id}} .empty{padding:18px;border:1px dashed #334155;border-radius:14px;color:#94a3b8;text-align:center}\n</style>\n<div id=\"esit-edit-users-guard-{{$id}}\" class=\"guard\">\n  <div class=\"card\">\n    <h2>Accesso non autorizzato</h2>\n    <p>Non risulti autenticato. Verrai reindirizzato automaticamente alla pagina di login.</p>\n  </div>\n</div>\n<div id=\"esit-edit-users-view-{{$id}}\" class=\"view\">\n  <div class=\"topbar\">\n    <div>\n      <h1>Modifica utenti</h1>\n      <div class=\"sub\">Seleziona un utente dall'elenco per aprire la pagina di modifica.</div>\n    </div>\n    <div class=\"actions\">\n      <button id=\"esit-edit-users-refresh-{{$id}}\" class=\"btn refresh\">Aggiorna</button>\n      <button id=\"esit-edit-users-back-{{$id}}\" class=\"btn back\">Torna alla dashboard</button>\n    </div>\n  </div>\n  <div class=\"panel\">\n    <div id=\"esit-edit-users-status-{{$id}}\" class=\"status\"></div>\n    <div id=\"esit-edit-users-table-wrap-{{$id}}\"></div>\n  </div>\n</div>\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-edit-users-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    if(root.dataset.bound===\"1\") return;\n    root.dataset.bound=\"1\";\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var guard=document.getElementById(\"esit-edit-users-guard-\"+scope.$id);\n    var view=document.getElementById(\"esit-edit-users-view-\"+scope.$id);\n    var backBtn=document.getElementById(\"esit-edit-users-back-\"+scope.$id);\n    var refreshBtn=document.getElementById(\"esit-edit-users-refresh-\"+scope.$id);\n    var statusBox=document.getElementById(\"esit-edit-users-status-\"+scope.$id);\n    var tableWrap=document.getElementById(\"esit-edit-users-table-wrap-\"+scope.$id);\n\n    function goLogin(){ scope.send({payload:{tab:\"Login Admin\"}}); }\n    function goDash(){ scope.send({payload:{tab:\"Admin Dashboard\"}}); }\n    function load(){ scope.send({page_action:\"edit_users_load\"}); }\n    function render(){\n      var logged=window.sessionStorage.getItem(AUTH_KEY)===\"1\";\n      guard.style.display=logged?\"none\":\"flex\";\n      view.style.display=logged?\"block\":\"none\";\n      if(!logged){ setTimeout(goLogin,3000); return; }\n      load();\n    }\n    function setStatus(kind,msg){\n      statusBox.className=\"status\";\n      statusBox.textContent=msg||\"\";\n      if(!msg) return;\n      statusBox.classList.add(\"show\");\n      statusBox.classList.add(kind===\"success\"?\"success\":\"error\");\n    }\n    function esc(v){\n      return String(v===undefined || v===null ? \"\" : v)\n        .replace(/&/g,\"&amp;\").replace(/</g,\"&lt;\").replace(/>/g,\"&gt;\")\n        .replace(/\"/g,\"&quot;\").replace(/'/g,\"&#39;\");\n    }\n    function bindButtons(){\n      Array.prototype.forEach.call(root.querySelectorAll(\"[data-edit-id]\"), function(btn){\n        btn.addEventListener(\"click\", function(){\n          scope.send({page_action:\"edit_select_user\", user_id:btn.getAttribute(\"data-edit-id\")});\n        });\n      });\n    }\n    function renderUsers(users){\n      users=Array.isArray(users)?users:[];\n      if(!users.length){\n        tableWrap.innerHTML='<div class=\"empty\">Nessun utente presente.</div>';\n        return;\n      }\n      var html='<table><thead><tr><th>ID</th><th>Username</th><th>Access code</th><th>Telegram ID</th><th>Status</th><th>Azione</th></tr></thead><tbody>';\n      users.forEach(function(u){\n        var badge=(u.status===\"ABILITATO\")?'<span class=\"badge ok\">ABILITATO</span>':'<span class=\"badge err\">DISABILITATO</span>';\n        html+='<tr>'+\n          '<td>'+esc(u.id)+'</td>'+\n          '<td>'+esc(u.username)+'</td>'+\n          '<td>'+esc(u.access_code)+'</td>'+\n          '<td>'+esc(u.telegram_id)+'</td>'+\n          '<td>'+badge+'</td>'+\n          '<td><button class=\"rowbtn\" data-edit-id=\"'+esc(u.id)+'\">Modifica</button></td>'+\n        '</tr>';\n      });\n      html+='</tbody></table>';\n      tableWrap.innerHTML=html;\n      bindButtons();\n    }\n\n    backBtn.addEventListener(\"click\",goDash);\n    refreshBtn.addEventListener(\"click\",load);\n    render();\n\n    scope.$watch(\"msg\", function(msg){\n      if(!msg || !msg.payload) return;\n      if(msg.payload.feedback) setStatus(msg.payload.feedback.status, msg.payload.feedback.message);\n      if(Array.isArray(msg.payload.users)) renderUsers(msg.payload.users);\n    });\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 440,
        "y": 1220,
        "wires": [
            [
                "954382ede73d2617",
                "d462b9e29ab945c0",
                "aae06850a483ae04"
            ]
        ]
    },
    {
        "id": "c60a442cdc11c219",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "6a78679c1ee77b62",
        "name": "Edit User Form Page",
        "order": 1,
        "width": "24",
        "height": "16",
        "format": "<div id=\"esit-edit-user-form-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-edit-user-form-{{$id}}{min-height:760px;padding:20px;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-edit-user-form-{{$id}} *{box-sizing:border-box}\n#esit-edit-user-form-{{$id}} .guard{display:none;min-height:460px;align-items:center;justify-content:center}\n#esit-edit-user-form-{{$id}} .guard .card,#esit-edit-user-form-{{$id}} .panel{background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-edit-user-form-{{$id}} .guard .card{max-width:520px;padding:28px;text-align:center}\n#esit-edit-user-form-{{$id}} .guard h2{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-edit-user-form-{{$id}} .guard p{margin-top:16px;color:#fff !important;background:transparent !important}\n#esit-edit-user-form-{{$id}} .view{display:none;max-width:900px;margin:0 auto}\n#esit-edit-user-form-{{$id}} .topbar{display:flex;justify-content:space-between;gap:16px;align-items:flex-start;flex-wrap:wrap;margin-bottom:22px}\n#esit-edit-user-form-{{$id}} h1{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-edit-user-form-{{$id}} .sub{margin-top:6px;color:#94a3b8}\n#esit-edit-user-form-{{$id}} .actions{display:flex;gap:10px;flex-wrap:wrap}\n#esit-edit-user-form-{{$id}} .btn{border:none;border-radius:12px;padding:12px 18px;font-weight:700;cursor:pointer}\n#esit-edit-user-form-{{$id}} .back{background:#1e293b;color:#e2e8f0}\n#esit-edit-user-form-{{$id}} .refresh{background:#2563eb;color:#fff}\n#esit-edit-user-form-{{$id}} .panel{padding:24px}\n#esit-edit-user-form-{{$id}} label{display:block;margin:0 0 8px 0;color:#cbd5e1;font-size:13px;font-weight:700}\n#esit-edit-user-form-{{$id}} input,#esit-edit-user-form-{{$id}} select{width:100%;margin:0 0 16px 0;padding:12px 14px;border-radius:12px;border:1px solid #334155;background:#0b1220;color:#e5e7eb}\n#esit-edit-user-form-{{$id}} .save{width:30%;padding:13px 16px;border:none;border-radius:12px;background:#2563eb;color:#fff;font-weight:700;cursor:pointer;margin:20px auto 0;display:block}\n#esit-edit-user-form-{{$id}} .save:disabled{opacity:.7;cursor:not-allowed}\n#esit-edit-user-form-{{$id}} .status{display:none;margin-top:16px;padding:12px 14px;border-radius:12px;border:1px solid #334155}\n#esit-edit-user-form-{{$id}} .status.ok{display:block;background:rgba(20,83,45,.45);border-color:rgba(34,197,94,.45);color:#bbf7d0}\n#esit-edit-user-form-{{$id}} .status.err{display:block;background:rgba(127,29,29,.55);border-color:rgba(220,38,38,.5);color:#fecaca}\n#esit-edit-user-form-{{$id}} .meta{margin:0 0 18px 0;color:#94a3b8;font-size:13px}\n#esit-edit-user-form-{{$id}} .empty{padding:18px;border:1px dashed #334155;border-radius:14px;color:#94a3b8;text-align:center;margin-bottom:18px}\n</style>\n<div id=\"esit-edit-user-form-guard-{{$id}}\" class=\"guard\">\n  <div class=\"card\">\n    <h2>Accesso non autorizzato</h2>\n    <p>Non risulti autenticato. Verrai reindirizzato automaticamente alla pagina di login.</p>\n  </div>\n</div>\n<div id=\"esit-edit-user-form-view-{{$id}}\" class=\"view\">\n  <div class=\"topbar\">\n    <div>\n      <h1>Modifica utente</h1>\n      <div class=\"sub\">Aggiorna uno o più campi dell'utente selezionato.</div>\n    </div>\n    <div class=\"actions\">\n      <button id=\"esit-edit-user-form-refresh-{{$id}}\" class=\"btn refresh\">Ricarica selezione</button>\n      <button id=\"esit-edit-user-form-back-{{$id}}\" class=\"btn back\">Torna all'elenco modifiche</button>\n    </div>\n  </div>\n  <div class=\"panel\">\n    <div id=\"esit-edit-user-form-empty-{{$id}}\" class=\"empty\">Nessun utente selezionato. Torna alla pagina \"Modifica Utenti\" e scegli un utente.</div>\n    <div id=\"esit-edit-user-form-fields-{{$id}}\" style=\"display:none\">\n      <div id=\"esit-edit-user-form-meta-{{$id}}\" class=\"meta\"></div>\n      <label for=\"esit-edit-username-{{$id}}\">Username</label>\n      <input id=\"esit-edit-username-{{$id}}\" type=\"text\" placeholder=\"es. mario\">\n\n      <label for=\"esit-edit-code-{{$id}}\">Access code</label>\n      <input id=\"esit-edit-code-{{$id}}\" type=\"text\" placeholder=\"es. 1234\" inputmode=\"numeric\">\n\n      <label for=\"esit-edit-telegram-{{$id}}\">Telegram ID</label>\n      <input id=\"esit-edit-telegram-{{$id}}\" type=\"text\" placeholder=\"es. 212805349\" inputmode=\"numeric\">\n\n      <label for=\"esit-edit-status-{{$id}}\">Status</label>\n      <select id=\"esit-edit-status-{{$id}}\">\n        <option value=\"ABILITATO\">ABILITATO</option>\n        <option value=\"DISABILITATO\">DISABILITATO</option>\n      </select>\n\n      <button id=\"esit-edit-user-save-{{$id}}\" class=\"save\" disabled>Salva modifiche</button>\n      <div id=\"esit-edit-user-form-status-{{$id}}\" class=\"status\"></div>\n    </div>\n  </div>\n</div>\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-edit-user-form-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    if(root.dataset.bound===\"1\") return;\n    root.dataset.bound=\"1\";\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var currentId=null;\n    var guard=document.getElementById(\"esit-edit-user-form-guard-\"+scope.$id);\n    var view=document.getElementById(\"esit-edit-user-form-view-\"+scope.$id);\n    var backBtn=document.getElementById(\"esit-edit-user-form-back-\"+scope.$id);\n    var refreshBtn=document.getElementById(\"esit-edit-user-form-refresh-\"+scope.$id);\n    var emptyBox=document.getElementById(\"esit-edit-user-form-empty-\"+scope.$id);\n    var fields=document.getElementById(\"esit-edit-user-form-fields-\"+scope.$id);\n    var meta=document.getElementById(\"esit-edit-user-form-meta-\"+scope.$id);\n    var username=document.getElementById(\"esit-edit-username-\"+scope.$id);\n    var code=document.getElementById(\"esit-edit-code-\"+scope.$id);\n    var telegram=document.getElementById(\"esit-edit-telegram-\"+scope.$id);\n    var status=document.getElementById(\"esit-edit-status-\"+scope.$id);\n    var saveBtn=document.getElementById(\"esit-edit-user-save-\"+scope.$id);\n    var statusBox=document.getElementById(\"esit-edit-user-form-status-\"+scope.$id);\n    var saving=false;\n\n    function goLogin(){ scope.send({payload:{tab:\"Login Admin\"}}); }\n    function goList(){ scope.send({payload:{tab:\"Modifica Utenti\"}}); }\n    function loadSelected(){ scope.send({page_action:\"edit_form_load\"}); }\n    function render(){\n      var logged=window.sessionStorage.getItem(AUTH_KEY)===\"1\";\n      guard.style.display=logged?\"none\":\"flex\";\n      view.style.display=logged?\"block\":\"none\";\n      if(!logged){ setTimeout(goLogin,3000); return; }\n      loadSelected();\n    }\n    function setStatus(kind,msg){\n      statusBox.className=\"status\";\n      statusBox.textContent=msg||\"\";\n      if(!msg) return;\n      statusBox.classList.add(kind===\"success\"?\"ok\":\"err\");\n    }\n    function clearStatus(){ statusBox.className=\"status\"; statusBox.textContent=\"\"; }\n    function setSaving(flag){\n      saving=!!flag;\n      saveBtn.disabled=saving || !currentId;\n      saveBtn.textContent=saving?\"Salvataggio...\":\"Salva modifiche\";\n    }\n    function renderSelected(user){\n      if(!user || !user.id){\n        currentId=null;\n        emptyBox.style.display=\"block\";\n        fields.style.display=\"none\";\n        setSaving(false);\n        return;\n      }\n      currentId=String(user.id);\n      emptyBox.style.display=\"none\";\n      fields.style.display=\"block\";\n      meta.textContent=\"Utente selezionato: ID \"+user.id;\n      username.value=user.username||\"\";\n      code.value=(user.access_code===undefined || user.access_code===null)?\"\":String(user.access_code);\n      telegram.value=(user.telegram_id===undefined || user.telegram_id===null)?\"\":String(user.telegram_id);\n      status.value=user.status||\"ABILITATO\";\n      setSaving(false);\n    }\n    function save(){\n      if(saving || !currentId) return;\n      clearStatus();\n      setSaving(true);\n      scope.send({\n        page_action:\"submit_edit_user\",\n        user:{\n          id:currentId,\n          username:(username.value||\"\").trim(),\n          access_code:(code.value||\"\").trim(),\n          telegram_id:(telegram.value||\"\").trim(),\n          status:(status.value||\"ABILITATO\").trim()\n        }\n      });\n    }\n\n    backBtn.addEventListener(\"click\",goList);\n    refreshBtn.addEventListener(\"click\",loadSelected);\n    saveBtn.addEventListener(\"click\",save);\n    [username,code,telegram].forEach(function(el){ el.addEventListener(\"input\",clearStatus); });\n    status.addEventListener(\"change\",clearStatus);\n    render();\n\n    scope.$watch(\"msg\", function(msg){\n      if(!msg || !msg.payload) return;\n      if(msg.payload.feedback) setStatus(msg.payload.feedback.status, msg.payload.feedback.message);\n      if(msg.payload.selected_user!==undefined) renderSelected(msg.payload.selected_user);\n      if(msg.payload.selected_user || (msg.payload.feedback && msg.payload.feedback.status!==\"error\")) setSaving(false);\n      else if(msg.payload.feedback && msg.payload.feedback.status===\"error\") setSaving(false);\n    });\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 430,
        "y": 1340,
        "wires": [
            [
                "954382ede73d2617",
                "a6558b6b31e79514",
                "c44b2343a7a3617c"
            ]
        ]
    },
    {
        "id": "5c242118c6a5f364",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "7ad801b2c3313d2f",
        "name": "Disable User Page",
        "order": 1,
        "width": "24",
        "height": "18",
        "format": "<div id=\"esit-disable-users-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-disable-users-{{$id}}{min-height:760px;padding:20px;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-disable-users-{{$id}} *{box-sizing:border-box}\n#esit-disable-users-{{$id}} .guard{display:none;min-height:460px;align-items:center;justify-content:center}\n#esit-disable-users-{{$id}} .guard .card,#esit-disable-users-{{$id}} .panel{background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-disable-users-{{$id}} .guard .card{max-width:520px;padding:28px;text-align:center}\n#esit-disable-users-{{$id}} .guard h2{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-disable-users-{{$id}} .guard p{margin-top:16px;color:#fff !important;background:transparent !important}\n#esit-disable-users-{{$id}} .view{display:none;max-width:1450px;margin:0 auto}\n#esit-disable-users-{{$id}} .topbar{display:flex;justify-content:space-between;gap:16px;align-items:flex-start;flex-wrap:wrap;margin-bottom:22px}\n#esit-disable-users-{{$id}} h1{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-disable-users-{{$id}} .sub{margin-top:6px;color:#94a3b8}\n#esit-disable-users-{{$id}} .actions{display:flex;gap:10px;flex-wrap:wrap}\n#esit-disable-users-{{$id}} .btn{border:none;border-radius:12px;padding:12px 18px;font-weight:700;cursor:pointer}\n#esit-disable-users-{{$id}} .back{background:#1e293b;color:#e2e8f0}\n#esit-disable-users-{{$id}} .refresh{background:#2563eb;color:#fff}\n#esit-disable-users-{{$id}} .panel{padding:22px;overflow:auto}\n#esit-disable-users-{{$id}} table{width:100%;border-collapse:collapse;min-width:980px}\n#esit-disable-users-{{$id}} th,#esit-disable-users-{{$id}} td{padding:12px 10px;border-bottom:1px solid #334155;text-align:left;font-size:13px;color:#e5e7eb}\n#esit-disable-users-{{$id}} th{color:#93c5fd;font-size:12px;text-transform:uppercase;letter-spacing:.04em}\n#esit-disable-users-{{$id}} .rowbtn{border:none;border-radius:10px;padding:10px 14px;background:#ef4444;color:#fff;font-weight:700;cursor:pointer}\n#esit-disable-users-{{$id}} .status{display:none;margin:0 0 16px 0;padding:12px 14px;border-radius:12px;border:1px solid #334155}\n#esit-disable-users-{{$id}} .status.show{display:block}\n#esit-disable-users-{{$id}} .status.error{background:rgba(127,29,29,.55);border-color:rgba(220,38,38,.5);color:#fecaca}\n#esit-disable-users-{{$id}} .status.success{background:rgba(20,83,45,.45);border-color:rgba(34,197,94,.45);color:#bbf7d0}\n#esit-disable-users-{{$id}} .empty{padding:18px;border:1px dashed #334155;border-radius:14px;color:#94a3b8;text-align:center}\n</style>\n<div id=\"esit-disable-users-guard-{{$id}}\" class=\"guard\">\n  <div class=\"card\">\n    <h2>Accesso non autorizzato</h2>\n    <p>Non risulti autenticato. Verrai reindirizzato automaticamente alla pagina di login.</p>\n  </div>\n</div>\n<div id=\"esit-disable-users-view-{{$id}}\" class=\"view\">\n  <div class=\"topbar\">\n    <div>\n      <h1>Disabilitazione utente</h1>\n      <div class=\"sub\">Sono mostrati solo gli utenti attualmente ABILITATI.</div>\n    </div>\n    <div class=\"actions\">\n      <button id=\"esit-disable-users-refresh-{{$id}}\" class=\"btn refresh\">Aggiorna</button>\n      <button id=\"esit-disable-users-back-{{$id}}\" class=\"btn back\">Torna alla dashboard</button>\n    </div>\n  </div>\n  <div class=\"panel\">\n    <div id=\"esit-disable-users-status-{{$id}}\" class=\"status\"></div>\n    <div id=\"esit-disable-users-table-wrap-{{$id}}\"></div>\n  </div>\n</div>\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-disable-users-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    if(root.dataset.bound===\"1\") return;\n    root.dataset.bound=\"1\";\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var guard=document.getElementById(\"esit-disable-users-guard-\"+scope.$id);\n    var view=document.getElementById(\"esit-disable-users-view-\"+scope.$id);\n    var backBtn=document.getElementById(\"esit-disable-users-back-\"+scope.$id);\n    var refreshBtn=document.getElementById(\"esit-disable-users-refresh-\"+scope.$id);\n    var statusBox=document.getElementById(\"esit-disable-users-status-\"+scope.$id);\n    var tableWrap=document.getElementById(\"esit-disable-users-table-wrap-\"+scope.$id);\n\n    function goLogin(){ scope.send({payload:{tab:\"Login Admin\"}}); }\n    function goDash(){ scope.send({payload:{tab:\"Admin Dashboard\"}}); }\n    function load(){ scope.send({page_action:\"disable_users_load\"}); }\n    function render(){\n      var logged=window.sessionStorage.getItem(AUTH_KEY)===\"1\";\n      guard.style.display=logged?\"none\":\"flex\";\n      view.style.display=logged?\"block\":\"none\";\n      if(!logged){ setTimeout(goLogin,3000); return; }\n      load();\n    }\n    function setStatus(kind,msg){\n      statusBox.className=\"status\";\n      statusBox.textContent=msg||\"\";\n      if(!msg) return;\n      statusBox.classList.add(\"show\");\n      statusBox.classList.add(kind===\"success\"?\"success\":\"error\");\n    }\n    function esc(v){\n      return String(v===undefined || v===null ? \"\" : v)\n        .replace(/&/g,\"&amp;\").replace(/</g,\"&lt;\").replace(/>/g,\"&gt;\")\n        .replace(/\"/g,\"&quot;\").replace(/'/g,\"&#39;\");\n    }\n    function bindButtons(){\n      Array.prototype.forEach.call(root.querySelectorAll(\"[data-disable-id]\"), function(btn){\n        btn.addEventListener(\"click\", function(){\n          if(!window.confirm(\"Disabilitare questo utente?\")) return;\n          scope.send({page_action:\"disable_user\", user_id:btn.getAttribute(\"data-disable-id\")});\n        });\n      });\n    }\n    function renderUsers(users){\n      users=Array.isArray(users)?users:[];\n      if(!users.length){\n        tableWrap.innerHTML='<div class=\"empty\">Nessun utente ABILITATO disponibile.</div>';\n        return;\n      }\n      var html='<table><thead><tr><th>ID</th><th>Username</th><th>Access code</th><th>Telegram ID</th><th>Azione</th></tr></thead><tbody>';\n      users.forEach(function(u){\n        html+='<tr>'+\n          '<td>'+esc(u.id)+'</td>'+\n          '<td>'+esc(u.username)+'</td>'+\n          '<td>'+esc(u.access_code)+'</td>'+\n          '<td>'+esc(u.telegram_id)+'</td>'+\n          '<td><button class=\"rowbtn\" data-disable-id=\"'+esc(u.id)+'\">DISABILITA</button></td>'+\n        '</tr>';\n      });\n      html+='</tbody></table>';\n      tableWrap.innerHTML=html;\n      bindButtons();\n    }\n\n    backBtn.addEventListener(\"click\",goDash);\n    refreshBtn.addEventListener(\"click\",load);\n    render();\n\n    scope.$watch(\"msg\", function(msg){\n      if(!msg || !msg.payload) return;\n      if(msg.payload.feedback) setStatus(msg.payload.feedback.status, msg.payload.feedback.message);\n      if(Array.isArray(msg.payload.users)) renderUsers(msg.payload.users);\n    });\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 1460,
        "wires": [
            [
                "954382ede73d2617",
                "e62be5611d068f6d",
                "7a39d3f69de33925"
            ]
        ]
    },
    {
        "id": "77e4cfd85c617945",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "59eb3429f79c7bd8",
        "name": "Enable User Page",
        "order": 1,
        "width": "24",
        "height": "18",
        "format": "<div id=\"esit-enable-users-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-enable-users-{{$id}}{min-height:760px;padding:20px;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-enable-users-{{$id}} *{box-sizing:border-box}\n#esit-enable-users-{{$id}} .guard{display:none;min-height:460px;align-items:center;justify-content:center}\n#esit-enable-users-{{$id}} .guard .card,#esit-enable-users-{{$id}} .panel{background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-enable-users-{{$id}} .guard .card{max-width:520px;padding:28px;text-align:center}\n#esit-enable-users-{{$id}} .guard h2{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-enable-users-{{$id}} .guard p{margin-top:16px;color:#fff !important;background:transparent !important}\n#esit-enable-users-{{$id}} .view{display:none;max-width:1450px;margin:0 auto}\n#esit-enable-users-{{$id}} .topbar{display:flex;justify-content:space-between;gap:16px;align-items:flex-start;flex-wrap:wrap;margin-bottom:22px}\n#esit-enable-users-{{$id}} h1{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-enable-users-{{$id}} .sub{margin-top:6px;color:#94a3b8}\n#esit-enable-users-{{$id}} .actions{display:flex;gap:10px;flex-wrap:wrap}\n#esit-enable-users-{{$id}} .btn{border:none;border-radius:12px;padding:12px 18px;font-weight:700;cursor:pointer}\n#esit-enable-users-{{$id}} .back{background:#1e293b;color:#e2e8f0}\n#esit-enable-users-{{$id}} .refresh{background:#2563eb;color:#fff}\n#esit-enable-users-{{$id}} .panel{padding:22px;overflow:auto}\n#esit-enable-users-{{$id}} table{width:100%;border-collapse:collapse;min-width:980px}\n#esit-enable-users-{{$id}} th,#esit-enable-users-{{$id}} td{padding:12px 10px;border-bottom:1px solid #334155;text-align:left;font-size:13px;color:#e5e7eb}\n#esit-enable-users-{{$id}} th{color:#93c5fd;font-size:12px;text-transform:uppercase;letter-spacing:.04em}\n#esit-enable-users-{{$id}} .rowbtn{border:none;border-radius:10px;padding:10px 14px;background:#22c55e;color:#062f16;font-weight:700;cursor:pointer}\n#esit-enable-users-{{$id}} .status{display:none;margin:0 0 16px 0;padding:12px 14px;border-radius:12px;border:1px solid #334155}\n#esit-enable-users-{{$id}} .status.show{display:block}\n#esit-enable-users-{{$id}} .status.error{background:rgba(127,29,29,.55);border-color:rgba(220,38,38,.5);color:#fecaca}\n#esit-enable-users-{{$id}} .status.success{background:rgba(20,83,45,.45);border-color:rgba(34,197,94,.45);color:#bbf7d0}\n#esit-enable-users-{{$id}} .empty{padding:18px;border:1px dashed #334155;border-radius:14px;color:#94a3b8;text-align:center}\n</style>\n<div id=\"esit-enable-users-guard-{{$id}}\" class=\"guard\">\n  <div class=\"card\">\n    <h2>Accesso non autorizzato</h2>\n    <p>Non risulti autenticato. Verrai reindirizzato automaticamente alla pagina di login.</p>\n  </div>\n</div>\n<div id=\"esit-enable-users-view-{{$id}}\" class=\"view\">\n  <div class=\"topbar\">\n    <div>\n      <h1>Riabilitazione utente</h1>\n      <div class=\"sub\">Sono mostrati solo gli utenti attualmente DISABILITATI.</div>\n    </div>\n    <div class=\"actions\">\n      <button id=\"esit-enable-users-refresh-{{$id}}\" class=\"btn refresh\">Aggiorna</button>\n      <button id=\"esit-enable-users-back-{{$id}}\" class=\"btn back\">Torna alla dashboard</button>\n    </div>\n  </div>\n  <div class=\"panel\">\n    <div id=\"esit-enable-users-status-{{$id}}\" class=\"status\"></div>\n    <div id=\"esit-enable-users-table-wrap-{{$id}}\"></div>\n  </div>\n</div>\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-enable-users-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    if(root.dataset.bound===\"1\") return;\n    root.dataset.bound=\"1\";\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var guard=document.getElementById(\"esit-enable-users-guard-\"+scope.$id);\n    var view=document.getElementById(\"esit-enable-users-view-\"+scope.$id);\n    var backBtn=document.getElementById(\"esit-enable-users-back-\"+scope.$id);\n    var refreshBtn=document.getElementById(\"esit-enable-users-refresh-\"+scope.$id);\n    var statusBox=document.getElementById(\"esit-enable-users-status-\"+scope.$id);\n    var tableWrap=document.getElementById(\"esit-enable-users-table-wrap-\"+scope.$id);\n\n    function goLogin(){ scope.send({payload:{tab:\"Login Admin\"}}); }\n    function goDash(){ scope.send({payload:{tab:\"Admin Dashboard\"}}); }\n    function load(){ scope.send({page_action:\"enable_users_load\"}); }\n    function render(){\n      var logged=window.sessionStorage.getItem(AUTH_KEY)===\"1\";\n      guard.style.display=logged?\"none\":\"flex\";\n      view.style.display=logged?\"block\":\"none\";\n      if(!logged){ setTimeout(goLogin,3000); return; }\n      load();\n    }\n    function setStatus(kind,msg){\n      statusBox.className=\"status\";\n      statusBox.textContent=msg||\"\";\n      if(!msg) return;\n      statusBox.classList.add(\"show\");\n      statusBox.classList.add(kind===\"success\"?\"success\":\"error\");\n    }\n    function esc(v){\n      return String(v===undefined || v===null ? \"\" : v)\n        .replace(/&/g,\"&amp;\").replace(/</g,\"&lt;\").replace(/>/g,\"&gt;\")\n        .replace(/\"/g,\"&quot;\").replace(/'/g,\"&#39;\");\n    }\n    function bindButtons(){\n      Array.prototype.forEach.call(root.querySelectorAll(\"[data-enable-id]\"), function(btn){\n        btn.addEventListener(\"click\", function(){\n          if(!window.confirm(\"Riabilitare questo utente?\")) return;\n          scope.send({page_action:\"enable_user\", user_id:btn.getAttribute(\"data-enable-id\")});\n        });\n      });\n    }\n    function renderUsers(users){\n      users=Array.isArray(users)?users:[];\n      if(!users.length){\n        tableWrap.innerHTML='<div class=\"empty\">Nessun utente DISABILITATO disponibile.</div>';\n        return;\n      }\n      var html='<table><thead><tr><th>ID</th><th>Username</th><th>Access code</th><th>Telegram ID</th><th>Azione</th></tr></thead><tbody>';\n      users.forEach(function(u){\n        html+='<tr>'+\n          '<td>'+esc(u.id)+'</td>'+\n          '<td>'+esc(u.username)+'</td>'+\n          '<td>'+esc(u.access_code)+'</td>'+\n          '<td>'+esc(u.telegram_id)+'</td>'+\n          '<td><button class=\"rowbtn\" data-enable-id=\"'+esc(u.id)+'\">RIABILITA</button></td>'+\n        '</tr>';\n      });\n      html+='</tbody></table>';\n      tableWrap.innerHTML=html;\n      bindButtons();\n    }\n\n    backBtn.addEventListener(\"click\",goDash);\n    refreshBtn.addEventListener(\"click\",load);\n    render();\n\n    scope.$watch(\"msg\", function(msg){\n      if(!msg || !msg.payload) return;\n      if(msg.payload.feedback) setStatus(msg.payload.feedback.status, msg.payload.feedback.message);\n      if(Array.isArray(msg.payload.users)) renderUsers(msg.payload.users);\n    });\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 1580,
        "wires": [
            [
                "954382ede73d2617",
                "db4a2bc50ba1c64f",
                "62355ec51a46f398"
            ]
        ]
    },
    {
        "id": "acae1d2c4938abc8",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "72eebb99ef08f480",
        "name": "Delete User Page",
        "order": 1,
        "width": "24",
        "height": "18",
        "format": "<div id=\"esit-delete-users-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-delete-users-{{$id}}{min-height:760px;padding:20px;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-delete-users-{{$id}} *{box-sizing:border-box}\n#esit-delete-users-{{$id}} .guard{display:none;min-height:460px;align-items:center;justify-content:center}\n#esit-delete-users-{{$id}} .guard .card,#esit-delete-users-{{$id}} .panel{background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-delete-users-{{$id}} .guard .card{max-width:520px;padding:28px;text-align:center}\n#esit-delete-users-{{$id}} .guard h2{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-delete-users-{{$id}} .guard p{margin-top:16px;color:#fff !important;background:transparent !important}\n#esit-delete-users-{{$id}} .view{display:none;max-width:1450px;margin:0 auto}\n#esit-delete-users-{{$id}} .topbar{display:flex;justify-content:space-between;gap:16px;align-items:flex-start;flex-wrap:wrap;margin-bottom:22px}\n#esit-delete-users-{{$id}} h1{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-delete-users-{{$id}} .sub{margin-top:6px;color:#94a3b8}\n#esit-delete-users-{{$id}} .actions{display:flex;gap:10px;flex-wrap:wrap}\n#esit-delete-users-{{$id}} .btn{border:none;border-radius:12px;padding:12px 18px;font-weight:700;cursor:pointer}\n#esit-delete-users-{{$id}} .back{background:#1e293b;color:#e2e8f0}\n#esit-delete-users-{{$id}} .refresh{background:#2563eb;color:#fff}\n#esit-delete-users-{{$id}} .panel{padding:22px;overflow:auto}\n#esit-delete-users-{{$id}} table{width:100%;border-collapse:collapse;min-width:980px}\n#esit-delete-users-{{$id}} th,#esit-delete-users-{{$id}} td{padding:12px 10px;border-bottom:1px solid #334155;text-align:left;font-size:13px;color:#e5e7eb}\n#esit-delete-users-{{$id}} th{color:#93c5fd;font-size:12px;text-transform:uppercase;letter-spacing:.04em}\n#esit-delete-users-{{$id}} .badge{display:inline-flex;padding:6px 10px;border-radius:999px;font-size:11px;font-weight:700}\n#esit-delete-users-{{$id}} .ok{background:rgba(20,83,45,.45);color:#bbf7d0;border:1px solid rgba(34,197,94,.45)}\n#esit-delete-users-{{$id}} .err{background:rgba(127,29,29,.55);color:#fecaca;border:1px solid rgba(220,38,38,.5)}\n#esit-delete-users-{{$id}} .rowbtn{border:none;border-radius:10px;padding:10px 14px;background:#ef4444;color:#fff;font-weight:700;cursor:pointer}\n#esit-delete-users-{{$id}} .status{display:none;margin:0 0 16px 0;padding:12px 14px;border-radius:12px;border:1px solid #334155}\n#esit-delete-users-{{$id}} .status.show{display:block}\n#esit-delete-users-{{$id}} .status.error{background:rgba(127,29,29,.55);border-color:rgba(220,38,38,.5);color:#fecaca}\n#esit-delete-users-{{$id}} .status.success{background:rgba(20,83,45,.45);border-color:rgba(34,197,94,.45);color:#bbf7d0}\n#esit-delete-users-{{$id}} .empty{padding:18px;border:1px dashed #334155;border-radius:14px;color:#94a3b8;text-align:center}\n</style>\n<div id=\"esit-delete-users-guard-{{$id}}\" class=\"guard\">\n  <div class=\"card\">\n    <h2>Accesso non autorizzato</h2>\n    <p>Non risulti autenticato. Verrai reindirizzato automaticamente alla pagina di login.</p>\n  </div>\n</div>\n<div id=\"esit-delete-users-view-{{$id}}\" class=\"view\">\n  <div class=\"topbar\">\n    <div>\n      <h1>Eliminazione utente</h1>\n      <div class=\"sub\">Elenco completo degli utenti. L'eliminazione rimuove definitivamente il record dal database.</div>\n    </div>\n    <div class=\"actions\">\n      <button id=\"esit-delete-users-refresh-{{$id}}\" class=\"btn refresh\">Aggiorna</button>\n      <button id=\"esit-delete-users-back-{{$id}}\" class=\"btn back\">Torna alla dashboard</button>\n    </div>\n  </div>\n  <div class=\"panel\">\n    <div id=\"esit-delete-users-status-{{$id}}\" class=\"status\"></div>\n    <div id=\"esit-delete-users-table-wrap-{{$id}}\"></div>\n  </div>\n</div>\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-delete-users-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    if(root.dataset.bound===\"1\") return;\n    root.dataset.bound=\"1\";\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var guard=document.getElementById(\"esit-delete-users-guard-\"+scope.$id);\n    var view=document.getElementById(\"esit-delete-users-view-\"+scope.$id);\n    var backBtn=document.getElementById(\"esit-delete-users-back-\"+scope.$id);\n    var refreshBtn=document.getElementById(\"esit-delete-users-refresh-\"+scope.$id);\n    var statusBox=document.getElementById(\"esit-delete-users-status-\"+scope.$id);\n    var tableWrap=document.getElementById(\"esit-delete-users-table-wrap-\"+scope.$id);\n\n    function goLogin(){ scope.send({payload:{tab:\"Login Admin\"}}); }\n    function goDash(){ scope.send({payload:{tab:\"Admin Dashboard\"}}); }\n    function load(){ scope.send({page_action:\"delete_users_load\"}); }\n    function render(){\n      var logged=window.sessionStorage.getItem(AUTH_KEY)===\"1\";\n      guard.style.display=logged?\"none\":\"flex\";\n      view.style.display=logged?\"block\":\"none\";\n      if(!logged){ setTimeout(goLogin,3000); return; }\n      load();\n    }\n    function setStatus(kind,msg){\n      statusBox.className=\"status\";\n      statusBox.textContent=msg||\"\";\n      if(!msg) return;\n      statusBox.classList.add(\"show\");\n      statusBox.classList.add(kind===\"success\"?\"success\":\"error\");\n    }\n    function esc(v){\n      return String(v===undefined || v===null ? \"\" : v)\n        .replace(/&/g,\"&amp;\").replace(/</g,\"&lt;\").replace(/>/g,\"&gt;\")\n        .replace(/\"/g,\"&quot;\").replace(/'/g,\"&#39;\");\n    }\n    function bindButtons(){\n      Array.prototype.forEach.call(root.querySelectorAll(\"[data-delete-id]\"), function(btn){\n        btn.addEventListener(\"click\", function(){\n          if(!window.confirm(\"Eliminare definitivamente questo utente?\")) return;\n          scope.send({page_action:\"delete_user\", user_id:btn.getAttribute(\"data-delete-id\")});\n        });\n      });\n    }\n    function renderUsers(users){\n      users=Array.isArray(users)?users:[];\n      if(!users.length){\n        tableWrap.innerHTML='<div class=\"empty\">Nessun utente presente.</div>';\n        return;\n      }\n      var html='<table><thead><tr><th>ID</th><th>Username</th><th>Access code</th><th>Telegram ID</th><th>Status</th><th>Azione</th></tr></thead><tbody>';\n      users.forEach(function(u){\n        var badge=(u.status===\"ABILITATO\")?'<span class=\"badge ok\">ABILITATO</span>':'<span class=\"badge err\">DISABILITATO</span>';\n        html+='<tr>'+\n          '<td>'+esc(u.id)+'</td>'+\n          '<td>'+esc(u.username)+'</td>'+\n          '<td>'+esc(u.access_code)+'</td>'+\n          '<td>'+esc(u.telegram_id)+'</td>'+\n          '<td>'+badge+'</td>'+\n          '<td><button class=\"rowbtn\" data-delete-id=\"'+esc(u.id)+'\">ELIMINA</button></td>'+\n        '</tr>';\n      });\n      html+='</tbody></table>';\n      tableWrap.innerHTML=html;\n      bindButtons();\n    }\n\n    backBtn.addEventListener(\"click\",goDash);\n    refreshBtn.addEventListener(\"click\",load);\n    render();\n\n    scope.$watch(\"msg\", function(msg){\n      if(!msg || !msg.payload) return;\n      if(msg.payload.feedback) setStatus(msg.payload.feedback.status, msg.payload.feedback.message);\n      if(Array.isArray(msg.payload.users)) renderUsers(msg.payload.users);\n    });\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 1700,
        "wires": [
            [
                "954382ede73d2617",
                "98a6667aa7017d5c",
                "42b014b314bddbd8"
            ]
        ]
    },
    {
        "id": "f0bfb3c78b092739",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare view users load",
        "func": "if ((msg.page_action || '').toString() !== 'view_users_load') return null;\ndelete msg.params;\nmsg.feedback = msg.feedback || null;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1100,
        "wires": [
            [
                "062dfd67beaf582c"
            ]
        ]
    },
    {
        "id": "062dfd67beaf582c",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Load all users (view)",
        "query": "SELECT id, username, access_code, telegram_id, status FROM utenti ORDER BY id ASC;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1120,
        "y": 1100,
        "wires": [
            [
                "78515063f4d7adf4"
            ]
        ]
    },
    {
        "id": "78515063f4d7adf4",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format view users result",
        "func": "function toUser(row) {\n  return {\n    id: Number(row.id),\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: (row.telegram_id === null || row.telegram_id === undefined) ? '' : Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.payload = { users: rows.map(toUser) };\nif (msg.feedback) msg.payload.feedback = msg.feedback;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1100,
        "wires": [
            [
                "e18119ad5063ce53"
            ]
        ]
    },
    {
        "id": "d462b9e29ab945c0",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare edit users list load",
        "func": "if ((msg.page_action || '').toString() !== 'edit_users_load') return null;\ndelete msg.params;\nmsg.feedback = msg.feedback || null;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1220,
        "wires": [
            [
                "ec456a9d9426e75a"
            ]
        ]
    },
    {
        "id": "ec456a9d9426e75a",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Load all users (edit list)",
        "query": "SELECT id, username, access_code, telegram_id, status FROM utenti ORDER BY id ASC;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1140,
        "y": 1220,
        "wires": [
            [
                "b84e442eb89128c1"
            ]
        ]
    },
    {
        "id": "b84e442eb89128c1",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format edit users list",
        "func": "function toUser(row) {\n  return {\n    id: Number(row.id),\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: (row.telegram_id === null || row.telegram_id === undefined) ? '' : Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.payload = { users: rows.map(toUser) };\nif (msg.feedback) msg.payload.feedback = msg.feedback;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1220,
        "wires": [
            [
                "d5f2a5f6c400366d"
            ]
        ]
    },
    {
        "id": "aae06850a483ae04",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare edit user selection",
        "func": "if ((msg.page_action || '').toString() !== 'edit_select_user') return null;\nconst userId = Number(msg.user_id || 0);\nif (!userId || Number.isNaN(userId)) {\n  return [null, { payload: { feedback: { status: 'error', message: 'Utente non valido.' } } }];\n}\nmsg.user_id = userId;\nmsg.params = [userId];\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1280,
        "wires": [
            [
                "1689c4af6a203875"
            ],
            [
                "d5f2a5f6c400366d"
            ]
        ]
    },
    {
        "id": "1689c4af6a203875",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Load single user for edit",
        "query": "SELECT id, username, access_code, telegram_id, status FROM utenti WHERE id = $1 LIMIT 1;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1130,
        "y": 1280,
        "wires": [
            [
                "ea130c3c6511ab16"
            ]
        ]
    },
    {
        "id": "ea130c3c6511ab16",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Process edit user selection",
        "func": "function toUser(row) {\n  return {\n    id: Number(row.id),\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: (row.telegram_id === null || row.telegram_id === undefined) ? '' : Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nif (!rows.length) {\n  return [null, null, { payload: { feedback: { status: 'error', message: 'Utente non trovato.' } } }];\n}\nconst user = toUser(rows[0]);\nflow.set('selectedEditUserId', user.id);\nflow.set('selectedEditUser', user);\nreturn [\n  { payload: { tab: 'Modifica Utente' } },\n  { payload: { selected_user: user } },\n  null\n];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 1280,
        "wires": [
            [
                "954382ede73d2617"
            ],
            [
                "c60a442cdc11c219"
            ],
            [
                "d5f2a5f6c400366d"
            ]
        ]
    },
    {
        "id": "a6558b6b31e79514",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Load selected user for edit form",
        "func": "if ((msg.page_action || '').toString() !== 'edit_form_load') return null;\nmsg.payload = { selected_user: flow.get('selectedEditUser') || null };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1340,
        "wires": [
            [
                "c60a442cdc11c219"
            ]
        ]
    },
    {
        "id": "c44b2343a7a3617c",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare edit user update",
        "func": "if ((msg.page_action || '').toString() !== 'submit_edit_user') return null;\n\nconst u = msg.user || {};\nconst id = Number(u.id || 0);\nconst username = (u.username || '').toString().trim();\nconst accessCode = (u.access_code || '').toString().trim();\nconst telegramId = (u.telegram_id || '').toString().trim();\nconst status = (u.status || '').toString().trim().toUpperCase();\n\nfunction feedback(message) {\n  return { payload: { feedback: { status: 'error', message } } };\n}\n\nif (!id || Number.isNaN(id)) return [null, feedback('ID utente non valido.')];\n\nif (!username) return [null, feedback('Username obbligatorio.')];\nif (!/^[A-Za-z0-9_]{3,64}$/.test(username)) {\n  return [null, feedback('Username non valido: usa 3-64 caratteri alfanumerici o underscore.')];\n}\n\nif (!accessCode) return [null, feedback('Access code obbligatorio.')];\nif (!/^[0-9]+$/.test(accessCode)) {\n  return [null, feedback('Access code non valido: usa solo cifre.')];\n}\nif (accessCode.length > 16) {\n  node.warn('Access code troppo lungo in modifica utente: massimo 16 cifre.');\n  return [null, feedback('Access code troppo lungo: massimo 16 cifre.')];\n}\n\nif (!telegramId) return [null, feedback('Telegram ID obbligatorio.')];\nif (!/^[0-9]+$/.test(telegramId)) {\n  return [null, feedback('Telegram ID non valido: usa solo cifre.')];\n}\nif (telegramId.length > 15) {\n  node.warn('Telegram ID troppo lungo in modifica utente: massimo 15 cifre.');\n  return [null, feedback('Telegram ID troppo lungo: massimo 15 cifre.')];\n}\n\nconst telegramIdNum = Number(telegramId);\nif (!Number.isSafeInteger(telegramIdNum) || telegramIdNum <= 0) {\n  return [null, feedback('Telegram ID non valido.')];\n}\n\nconst telegramIdNorm = String(telegramIdNum);\n\nif (status !== 'ABILITATO' && status !== 'DISABILITATO') {\n  return [null, feedback('Status non valido.')];\n}\n\nmsg.edit_user = {\n  id,\n  username,\n  access_code: accessCode,\n  telegram_id: telegramIdNorm,\n  status\n};\n\nmsg.params = [username, accessCode, telegramIdNum, id];\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1400,
        "wires": [
            [
                "c13a3e32f7fa110b"
            ],
            [
                "c60a442cdc11c219"
            ]
        ]
    },
    {
        "id": "c13a3e32f7fa110b",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Check edit user conflicts",
        "query": "SELECT id, username, access_code, telegram_id FROM utenti WHERE id <> $4 AND (username = $1 OR access_code = $2 OR telegram_id = $3);",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1140,
        "y": 1400,
        "wires": [
            [
                "7ac8c867a1c54ea1"
            ]
        ]
    },
    {
        "id": "7ac8c867a1c54ea1",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Decide edit user / update",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst user = msg.edit_user || {};\n\nif (rows.length > 0) {\n  let message = 'Esiste già un utente con gli stessi dati.';\n  if (rows.some(r => (r.username || '').toString() === user.username)) {\n    message = 'Username già presente nel database.';\n  } else if (rows.some(r => (r.access_code || '').toString() === user.access_code)) {\n    message = 'Access code già assegnato a un altro utente.';\n  } else if (rows.some(r => String(r.telegram_id) === String(user.telegram_id))) {\n    message = 'Telegram ID già presente nel database.';\n  }\n  return [null, { payload: { feedback: { status: 'error', message } } }];\n}\n\nconst telegramIdNum = Number(user.telegram_id);\nif (!Number.isSafeInteger(telegramIdNum) || telegramIdNum <= 0) {\n  return [null, {\n    payload: {\n      feedback: {\n        status: 'error',\n        message: 'Telegram ID non valido.'\n      }\n    }\n  }];\n}\n\nmsg.params = [\n  user.username,\n  user.access_code,\n  telegramIdNum,\n  user.status,\n  user.id\n];\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 1400,
        "wires": [
            [
                "a3f67b9f17828429"
            ],
            [
                "c60a442cdc11c219"
            ]
        ]
    },
    {
        "id": "a3f67b9f17828429",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Update user",
        "query": "UPDATE utenti SET username = $1, access_code = $2, telegram_id = $3, status = $4 WHERE id = $5 RETURNING id, username, access_code, telegram_id, status;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1730,
        "y": 1400,
        "wires": [
            [
                "bedb453f5a31aa2f"
            ]
        ]
    },
    {
        "id": "bedb453f5a31aa2f",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Edit user success feedback",
        "func": "function toUser(row) {\n  return {\n    id: Number(row.id),\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: (row.telegram_id === null || row.telegram_id === undefined) ? '' : Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nif (!rows.length) {\n  msg.payload = { feedback: { status: 'error', message: 'Nessun utente aggiornato.' }, selected_user: flow.get('selectedEditUser') || null };\n  return msg;\n}\nconst user = toUser(rows[0]);\nflow.set('selectedEditUserId', user.id);\nflow.set('selectedEditUser', user);\nmsg.payload = {\n  feedback: { status: 'success', message: 'Utente modificato con successo.' },\n  selected_user: user\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 1400,
        "wires": [
            [
                "c60a442cdc11c219"
            ]
        ]
    },
    {
        "id": "e62be5611d068f6d",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare disable users load",
        "func": "if ((msg.page_action || '').toString() !== 'disable_users_load') return null;\ndelete msg.params;\nmsg.feedback = msg.feedback || null;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1460,
        "wires": [
            [
                "2246244bff593452"
            ]
        ]
    },
    {
        "id": "2246244bff593452",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Load enabled users",
        "query": "SELECT id, username, access_code, telegram_id, status FROM utenti WHERE status = 'ABILITATO' ORDER BY id ASC;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1120,
        "y": 1460,
        "wires": [
            [
                "30b426ab0a14a344"
            ]
        ]
    },
    {
        "id": "30b426ab0a14a344",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format disable users list",
        "func": "function toUser(row) {\n  return {\n    id: Number(row.id),\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: (row.telegram_id === null || row.telegram_id === undefined) ? '' : Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.payload = { users: rows.map(toUser) };\nif (msg.feedback) msg.payload.feedback = msg.feedback;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1460,
        "wires": [
            [
                "5c242118c6a5f364"
            ]
        ]
    },
    {
        "id": "7a39d3f69de33925",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare disable user action",
        "func": "if ((msg.page_action || '').toString() !== 'disable_user') return null;\nconst userId = Number(msg.user_id || 0);\nif (!userId || Number.isNaN(userId)) {\n  return [null, { payload: { feedback: { status: 'error', message: 'Utente non valido.' } } }];\n}\nmsg.user_id = userId;\nmsg.params = [userId];\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1520,
        "wires": [
            [
                "fb15937da2347171"
            ],
            [
                "5c242118c6a5f364"
            ]
        ]
    },
    {
        "id": "fb15937da2347171",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Disable user",
        "query": "UPDATE utenti SET status = 'DISABILITATO' WHERE id = $1 AND status = 'ABILITATO' RETURNING id, username, access_code, telegram_id, status;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1120,
        "y": 1520,
        "wires": [
            [
                "a458a3c20856041d"
            ]
        ]
    },
    {
        "id": "a458a3c20856041d",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Refresh disable users after action",
        "func": "function toUser(row) {\n  return {\n    id: Number(row.id),\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: (row.telegram_id === null || row.telegram_id === undefined) ? '' : Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\n\ndelete msg.params;\n\nif (!rows.length) {\n  msg.feedback = { status: 'error', message: 'Utente non trovato oppure già disabilitato.' };\n  msg.page_action = 'disable_users_load';\n  return msg;\n}\nconst user = toUser(rows[0]);\nconst selectedId = Number(flow.get('selectedEditUserId') || 0);\nif (selectedId && selectedId === user.id) {\n  flow.set('selectedEditUser', user);\n}\nmsg.feedback = { status: 'success', message: 'Utente disabilitato con successo.' };\nmsg.page_action = 'disable_users_load';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 1520,
        "wires": [
            [
                "2246244bff593452"
            ]
        ]
    },
    {
        "id": "db4a2bc50ba1c64f",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare enable users load",
        "func": "if ((msg.page_action || '').toString() !== 'enable_users_load') return null;\ndelete msg.params;\nmsg.feedback = msg.feedback || null;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1580,
        "wires": [
            [
                "4822b89adf473e2a"
            ]
        ]
    },
    {
        "id": "4822b89adf473e2a",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Load disabled users",
        "query": "SELECT id, username, access_code, telegram_id, status FROM utenti WHERE status = 'DISABILITATO' ORDER BY id ASC;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1120,
        "y": 1580,
        "wires": [
            [
                "45c2f93437ee0366"
            ]
        ]
    },
    {
        "id": "45c2f93437ee0366",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format enable users list",
        "func": "function toUser(row) {\n  return {\n    id: Number(row.id),\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: (row.telegram_id === null || row.telegram_id === undefined) ? '' : Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.payload = { users: rows.map(toUser) };\nif (msg.feedback) msg.payload.feedback = msg.feedback;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1580,
        "wires": [
            [
                "77e4cfd85c617945"
            ]
        ]
    },
    {
        "id": "62355ec51a46f398",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare enable user action",
        "func": "if ((msg.page_action || '').toString() !== 'enable_user') return null;\nconst userId = Number(msg.user_id || 0);\nif (!userId || Number.isNaN(userId)) {\n  return [null, { payload: { feedback: { status: 'error', message: 'Utente non valido.' } } }];\n}\nmsg.user_id = userId;\nmsg.params = [userId];\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1640,
        "wires": [
            [
                "d4b06ad806651301"
            ],
            [
                "77e4cfd85c617945"
            ]
        ]
    },
    {
        "id": "d4b06ad806651301",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Enable user",
        "query": "UPDATE utenti SET status = 'ABILITATO' WHERE id = $1 AND status = 'DISABILITATO' RETURNING id, username, access_code, telegram_id, status;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1110,
        "y": 1640,
        "wires": [
            [
                "cb6b7db046b2c6dd"
            ]
        ]
    },
    {
        "id": "cb6b7db046b2c6dd",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Refresh enable users after action",
        "func": "function toUser(row) {\n  return {\n    id: Number(row.id),\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: (row.telegram_id === null || row.telegram_id === undefined) ? '' : Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\n\ndelete msg.params;\n\nif (!rows.length) {\n  msg.feedback = { status: 'error', message: 'Utente non trovato oppure già abilitato.' };\n  msg.page_action = 'enable_users_load';\n  return msg;\n}\nconst user = toUser(rows[0]);\nconst selectedId = Number(flow.get('selectedEditUserId') || 0);\nif (selectedId && selectedId === user.id) {\n  flow.set('selectedEditUser', user);\n}\nmsg.feedback = { status: 'success', message: 'Utente riabilitato con successo.' };\nmsg.page_action = 'enable_users_load';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1640,
        "wires": [
            [
                "4822b89adf473e2a"
            ]
        ]
    },
    {
        "id": "98a6667aa7017d5c",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare delete users load",
        "func": "if ((msg.page_action || '').toString() !== 'delete_users_load') return null;\ndelete msg.params;\nmsg.feedback = msg.feedback || null;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1700,
        "wires": [
            [
                "71c92a4224187481"
            ]
        ]
    },
    {
        "id": "71c92a4224187481",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Load all users (delete)",
        "query": "SELECT id, username, access_code, telegram_id, status FROM utenti ORDER BY id ASC;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1130,
        "y": 1700,
        "wires": [
            [
                "9bed9b03ca7972d1"
            ]
        ]
    },
    {
        "id": "9bed9b03ca7972d1",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format delete users list",
        "func": "function toUser(row) {\n  return {\n    id: Number(row.id),\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: (row.telegram_id === null || row.telegram_id === undefined) ? '' : Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.payload = { users: rows.map(toUser) };\nif (msg.feedback) msg.payload.feedback = msg.feedback;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1700,
        "wires": [
            [
                "acae1d2c4938abc8"
            ]
        ]
    },
    {
        "id": "42b014b314bddbd8",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare delete user action",
        "func": "if ((msg.page_action || '').toString() !== 'delete_user') return null;\nconst userId = Number(msg.user_id || 0);\nif (!userId || Number.isNaN(userId)) {\n  return [null, { payload: { feedback: { status: 'error', message: 'Utente non valido.' } } }];\n}\nmsg.user_id = userId;\nmsg.params = [userId];\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1760,
        "wires": [
            [
                "00fba2199a79250b"
            ],
            [
                "acae1d2c4938abc8"
            ]
        ]
    },
    {
        "id": "00fba2199a79250b",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Delete user",
        "query": "DELETE FROM utenti WHERE id = $1 RETURNING id, username, access_code, telegram_id, status;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1100,
        "y": 1760,
        "wires": [
            [
                "0262e03d8d22527d"
            ]
        ]
    },
    {
        "id": "0262e03d8d22527d",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Refresh delete users after action",
        "func": "function toUser(row) {\n  return {\n    id: Number(row.id),\n    username: (row.username || '').toString(),\n    access_code: (row.access_code || '').toString(),\n    telegram_id: (row.telegram_id === null || row.telegram_id === undefined) ? '' : Number(row.telegram_id),\n    status: (row.status || '').toString()\n  };\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\n\ndelete msg.params;\n\nif (!rows.length) {\n  msg.feedback = { status: 'error', message: 'Utente non trovato o già eliminato.' };\n  msg.page_action = 'delete_users_load';\n  return msg;\n}\nconst user = toUser(rows[0]);\nconst selectedId = Number(flow.get('selectedEditUserId') || 0);\nif (selectedId && selectedId === user.id) {\n  flow.set('selectedEditUserId', null);\n  flow.set('selectedEditUser', null);\n}\nmsg.feedback = { status: 'success', message: 'Utente eliminato con successo.' };\nmsg.page_action = 'delete_users_load';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1760,
        "wires": [
            [
                "71c92a4224187481"
            ]
        ]
    },
    {
        "id": "a39df1a3f335e6c8",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "20ade9e308d45e8a",
        "name": "Activity Log Page",
        "order": 1,
        "width": "24",
        "height": "20",
        "format": "<div id=\"esit-activity-log-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-activity-log-{{$id}}{min-height:760px;padding:20px;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-activity-log-{{$id}} *{box-sizing:border-box}\n#esit-activity-log-{{$id}} .guard{display:none;min-height:460px;align-items:center;justify-content:center}\n#esit-activity-log-{{$id}} .guard .card,#esit-activity-log-{{$id}} .panel{background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-activity-log-{{$id}} .guard .card{max-width:520px;padding:28px;text-align:center}\n#esit-activity-log-{{$id}} .guard h2{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-activity-log-{{$id}} .guard p{margin-top:16px;color:#fff !important;background:transparent !important}\n#esit-activity-log-{{$id}} .view{display:none;max-width:1450px;margin:0 auto}\n#esit-activity-log-{{$id}} .topbar{display:flex;justify-content:space-between;gap:16px;align-items:flex-start;flex-wrap:wrap;margin-bottom:22px}\n#esit-activity-log-{{$id}} h1{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-activity-log-{{$id}} .sub{margin-top:6px;color:#94a3b8}\n#esit-activity-log-{{$id}} .actions{display:flex;gap:10px;flex-wrap:wrap}\n#esit-activity-log-{{$id}} .btn{border:none;border-radius:12px;padding:12px 18px;font-weight:700;cursor:pointer}\n#esit-activity-log-{{$id}} .back{background:#1e293b;color:#e2e8f0}\n#esit-activity-log-{{$id}} .refresh{background:#2563eb;color:#fff}\n#esit-activity-log-{{$id}} .reset{background:#475569;color:#fff}\n#esit-activity-log-{{$id}} .panel{padding:22px;overflow:auto}\n#esit-activity-log-{{$id}} .filters{display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));gap:16px;margin-bottom:18px}\n#esit-activity-log-{{$id}} label{display:block;margin:0 0 8px 0;color:#cbd5e1;font-size:13px;font-weight:700}\n#esit-activity-log-{{$id}} input{width:100%;padding:12px 14px;border-radius:12px;border:1px solid #334155;background:#0b1220;color:#fff}\n#esit-activity-log-{{$id}} input[type=\"date\"]{color-scheme: light;}\n#esit-activity-log-{{$id}} input[type=\"date\"]::-webkit-calendar-picker-indicator{filter: invert(1) brightness(2); opacity: 1; cursor: pointer;}\n#esit-activity-log-{{$id}} .filter-actions{display:flex;gap:10px;flex-wrap:wrap;margin-bottom:18px}\n#esit-activity-log-{{$id}} table{width:100%;border-collapse:collapse;min-width:980px}\n#esit-activity-log-{{$id}} th,#esit-activity-log-{{$id}} td{padding:12px 10px;border-bottom:1px solid #334155;text-align:left;font-size:13px;color:#e5e7eb}\n#esit-activity-log-{{$id}} th{color:#93c5fd;font-size:12px;text-transform:uppercase;letter-spacing:.04em}\n#esit-activity-log-{{$id}} .status{display:none;margin:0 0 16px 0;padding:12px 14px;border-radius:12px;border:1px solid #334155}\n#esit-activity-log-{{$id}} .status.show{display:block}\n#esit-activity-log-{{$id}} .status.error{background:rgba(127,29,29,.55);border-color:rgba(220,38,38,.5);color:#fecaca}\n#esit-activity-log-{{$id}} .empty{padding:18px;border:1px dashed #334155;border-radius:14px;color:#94a3b8;text-align:center}\n</style>\n\n<div id=\"esit-activity-log-guard-{{$id}}\" class=\"guard\">\n  <div class=\"card\">\n    <h2>Accesso non autorizzato</h2>\n    <p>Non risulti autenticato. Verrai reindirizzato automaticamente alla pagina di login.</p>\n  </div>\n</div>\n\n<div id=\"esit-activity-log-view-{{$id}}\" class=\"view\">\n  <div class=\"topbar\">\n    <div>\n      <h1>Monitoraggio attività utenti</h1>\n      <div class=\"sub\">Storico eventi con filtri per data e username.</div>\n    </div>\n    <div class=\"actions\">\n      <button id=\"esit-activity-log-refresh-{{$id}}\" class=\"btn refresh\">Aggiorna</button>\n      <button id=\"esit-activity-log-back-{{$id}}\" class=\"btn back\">Torna alla dashboard</button>\n    </div>\n  </div>\n\n  <div class=\"panel\">\n    <div class=\"filters\">\n      <div>\n        <label for=\"esit-activity-date-from-{{$id}}\">Data da</label>\n        <input id=\"esit-activity-date-from-{{$id}}\" type=\"date\">\n      </div>\n      <div>\n        <label for=\"esit-activity-date-to-{{$id}}\">Data a</label>\n        <input id=\"esit-activity-date-to-{{$id}}\" type=\"date\">\n      </div>\n      <div>\n        <label for=\"esit-activity-username-{{$id}}\">Username</label>\n        <input id=\"esit-activity-username-{{$id}}\" type=\"text\" placeholder=\"es. mario\">\n      </div>\n    </div>\n\n    <div class=\"filter-actions\">\n      <button id=\"esit-activity-apply-{{$id}}\" class=\"btn refresh\">Applica filtri</button>\n      <button id=\"esit-activity-reset-{{$id}}\" class=\"btn reset\">Reset</button>\n    </div>\n\n    <div id=\"esit-activity-log-status-{{$id}}\" class=\"status\"></div>\n    <div id=\"esit-activity-log-table-wrap-{{$id}}\"></div>\n  </div>\n</div>\n\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-activity-log-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    if(root.dataset.bound===\"1\") return;\n    root.dataset.bound=\"1\";\n\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var guard=document.getElementById(\"esit-activity-log-guard-\"+scope.$id);\n    var view=document.getElementById(\"esit-activity-log-view-\"+scope.$id);\n    var backBtn=document.getElementById(\"esit-activity-log-back-\"+scope.$id);\n    var refreshBtn=document.getElementById(\"esit-activity-log-refresh-\"+scope.$id);\n    var applyBtn=document.getElementById(\"esit-activity-apply-\"+scope.$id);\n    var resetBtn=document.getElementById(\"esit-activity-reset-\"+scope.$id);\n    var statusBox=document.getElementById(\"esit-activity-log-status-\"+scope.$id);\n    var tableWrap=document.getElementById(\"esit-activity-log-table-wrap-\"+scope.$id);\n    var dateFrom=document.getElementById(\"esit-activity-date-from-\"+scope.$id);\n    var dateTo=document.getElementById(\"esit-activity-date-to-\"+scope.$id);\n    var username=document.getElementById(\"esit-activity-username-\"+scope.$id);\n\n    function goLogin(){ scope.send({payload:{tab:\"Login Admin\"}}); }\n    function goDash(){ scope.send({payload:{tab:\"Admin Dashboard\"}}); }\n\n    function load(){\n      scope.send({\n        page_action:\"activity_log_load\",\n        filters:{\n          date_from:(dateFrom.value||\"\").trim(),\n          date_to:(dateTo.value||\"\").trim(),\n          username:(username.value||\"\").trim()\n        }\n      });\n    }\n\n    function resetFilters(){\n      dateFrom.value=\"\";\n      dateTo.value=\"\";\n      username.value=\"\";\n      load();\n    }\n\n    function render(){\n      var logged=window.sessionStorage.getItem(AUTH_KEY)===\"1\";\n      guard.style.display=logged?\"none\":\"flex\";\n      view.style.display=logged?\"block\":\"none\";\n      if(!logged){ setTimeout(goLogin,3000); return; }\n      load();\n    }\n\n    function setStatus(kind,msg){\n      statusBox.className=\"status\";\n      statusBox.textContent=msg||\"\";\n      if(!msg) return;\n      statusBox.classList.add(\"show\");\n      if(kind===\"error\") statusBox.classList.add(\"error\");\n    }\n\n    function esc(v){\n      return String(v===undefined || v===null ? \"\" : v)\n        .replace(/&/g,\"&amp;\").replace(/</g,\"&lt;\").replace(/>/g,\"&gt;\")\n        .replace(/\\\"/g,\"&quot;\").replace(/'/g,\"&#39;\");\n    }\n\n    function renderLogs(logs){\n      logs=Array.isArray(logs)?logs:[];\n      if(!logs.length){\n        tableWrap.innerHTML='<div class=\"empty\">Nessun evento trovato.</div>';\n        return;\n      }\n\n      var html='<table><thead><tr><th>Data / Ora</th><th>Username</th><th>Evento</th><th>Origine</th></tr></thead><tbody>';\n      logs.forEach(function(r){\n        html+='<tr>'+\n          '<td>'+esc(r.event_time)+'</td>'+\n          '<td>'+esc(r.username)+'</td>'+\n          '<td>'+esc(r.event_label)+'</td>'+\n          '<td>'+esc(r.source)+'</td>'+\n        '</tr>';\n      });\n      html+='</tbody></table>';\n      tableWrap.innerHTML=html;\n    }\n\n    backBtn.addEventListener(\"click\",goDash);\n    refreshBtn.addEventListener(\"click\",load);\n    applyBtn.addEventListener(\"click\",load);\n    resetBtn.addEventListener(\"click\",resetFilters);\n    username.addEventListener(\"keydown\",function(ev){ if(ev.key===\"Enter\") load(); });\n\n    render();\n\n    scope.$watch(\"msg\", function(msg){\n      if(!msg || !msg.payload) return;\n      if(msg.payload.feedback) setStatus(msg.payload.feedback.status, msg.payload.feedback.message);\n      if(Array.isArray(msg.payload.logs)) renderLogs(msg.payload.logs);\n    });\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 410,
        "y": 1840,
        "wires": [
            [
                "e5d68456cd52983b",
                "954382ede73d2617"
            ]
        ]
    },
    {
        "id": "e5d68456cd52983b",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare activity log load",
        "func": "if ((msg.page_action || '').toString() !== 'activity_log_load') return null;\n\nconst f = msg.filters || {};\nconst dateFrom = (f.date_from || '').toString().trim();\nconst dateTo = (f.date_to || '').toString().trim();\nconst username = (f.username || '').toString().trim();\n\nmsg.filters = {\n  date_from: dateFrom,\n  date_to: dateTo,\n  username: username\n};\n\nmsg.params = [\n  dateFrom || null,\n  dateTo || null,\n  username || null\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1840,
        "wires": [
            [
                "d5249e1d2d7df211"
            ]
        ]
    },
    {
        "id": "d5249e1d2d7df211",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Load activity logs",
        "query": "SELECT\n  id,\n  TO_CHAR(event_time AT TIME ZONE 'Europe/Rome', 'DD/MM/YYYY HH24:MI:SS') AS event_time_fmt,\n  COALESCE(username, '-') AS username,\n  event_label,\n  COALESCE(source, '-') AS source\nFROM log_eventi\nWHERE ($1::date IS NULL OR event_time >= $1::date)\n  AND ($2::date IS NULL OR event_time < ($2::date + INTERVAL '1 day'))\n  AND ($3::text IS NULL OR username ILIKE '%' || $3 || '%')\nORDER BY event_time DESC, id DESC\nLIMIT 500;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1080,
        "y": 1840,
        "wires": [
            [
                "be0778253e84ef9a"
            ]
        ]
    },
    {
        "id": "be0778253e84ef9a",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format activity log result",
        "func": "function toLog(row) {\n  return {\n    id: Number(row.id),\n    event_time: (row.event_time_fmt || '').toString(),\n    username: (row.username || '-').toString(),\n    event_label: (row.event_label || '').toString(),\n    source: (row.source || '-').toString()\n  };\n}\n\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.payload = { logs: rows.map(toLog) };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1840,
        "wires": [
            [
                "a39df1a3f335e6c8"
            ]
        ]
    },
    {
        "id": "f30fd9dc83992b70",
        "type": "catch",
        "z": "e42535dea0a8f97a",
        "name": "Catch activity log DB errors",
        "scope": [
            "d5249e1d2d7df211"
        ],
        "uncaught": false,
        "x": 780,
        "y": 1900,
        "wires": [
            [
                "528f5539f734a528"
            ]
        ]
    },
    {
        "id": "528f5539f734a528",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format activity log load error",
        "func": "const errorText = (msg.error && msg.error.message) ? msg.error.message.toString() : 'Errore database';\nmsg.payload = {\n  feedback: {\n    status: 'error',\n    message: 'Errore database durante il caricamento log: ' + errorText\n  }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1900,
        "wires": [
            [
                "a39df1a3f335e6c8"
            ]
        ]
    },
    {
        "id": "75620ab463edba4d",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare activity log insert from auth_event",
        "func": "let evt = msg.auth_event || msg.payload;\n\nif (typeof evt === 'string') {\n  try { evt = JSON.parse(evt); } catch (e) { return null; }\n}\n\nif (!evt || typeof evt !== 'object') return null;\n\nconst eventName = (evt.event || '').toString().trim();\n\nconst map = {\n  open_authorized: 'Aperto serratura',\n  close_authorized: 'Chiuso serratura',\n  confirm_timeout: 'Timer click link di verifica scaduto',\n  wrong_code: 'Codice errato',\n  lockout_started: 'Blocco attivato per troppi codici errati',\n  disabled_user: 'Tentativo con utente disabilitato',\n  countdown_start: 'Avviato timer click link di verifica',\n  cancel_wait: 'Attesa verifica annullata'\n};\n\nconst eventLabel = map[eventName];\nif (!eventLabel) return null;\n\nconst username = (evt.username || '').toString().trim();\nconst source = (evt.src || '').toString().trim();\n\nmsg.params = [\n  eventName,\n  eventLabel,\n  username || null,\n  source || null,\n  JSON.stringify(evt)\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 640,
        "wires": [
            [
                "31f50a751516abd1"
            ]
        ]
    },
    {
        "id": "31f50a751516abd1",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Insert activity log",
        "query": "INSERT INTO log_eventi (event_key, event_label, username, source, details)\nVALUES ($1, $2, $3, $4, $5::jsonb);",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1920,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "64a6a41ae3118e30",
        "type": "inject",
        "z": "e42535dea0a8f97a",
        "name": "On start -> Load security config",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.8,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 2100,
        "wires": [
            [
                "cd4708da2552f98a"
            ]
        ]
    },
    {
        "id": "24f34648bc183966",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "2668ba361d66d46d",
        "name": "Security Config Page",
        "order": 1,
        "width": "24",
        "height": "18",
        "format": "<div id=\"esit-security-config-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-security-config-{{$id}}{min-height:760px;padding:20px;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-security-config-{{$id}} *{box-sizing:border-box}\n#esit-security-config-{{$id}} .guard{display:none;min-height:460px;align-items:center;justify-content:center}\n#esit-security-config-{{$id}} .guard .card,#esit-security-config-{{$id}} .panel{background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-security-config-{{$id}} .guard .card{max-width:520px;padding:28px;text-align:center}\n#esit-security-config-{{$id}} .guard h2{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-security-config-{{$id}} .guard p{margin-top:16px;color:#fff !important;background:transparent !important}\n#esit-security-config-{{$id}} .view{display:none;max-width:980px;margin:0 auto}\n#esit-security-config-{{$id}} .topbar{display:flex;justify-content:space-between;gap:16px;align-items:flex-start;flex-wrap:wrap;margin-bottom:22px}\n#esit-security-config-{{$id}} h1{margin:0;color:#C9A227 !important;background:transparent !important}\n#esit-security-config-{{$id}} .sub{margin-top:6px;color:#94a3b8}\n#esit-security-config-{{$id}} .actions{display:flex;gap:10px;flex-wrap:wrap}\n#esit-security-config-{{$id}} .btn{border:none;border-radius:12px;padding:12px 18px;font-weight:700;cursor:pointer}\n#esit-security-config-{{$id}} .back{background:#1e293b;color:#e2e8f0}\n#esit-security-config-{{$id}} .refresh{background:#475569;color:#fff}\n#esit-security-config-{{$id}} .save{background:#2563eb;color:#fff; margin-top: 20px !important}\n#esit-security-config-{{$id}} .panel{padding:24px}\n#esit-security-config-{{$id}} label{display:block;margin:0 0 8px 0;color:#cbd5e1;font-size:13px;font-weight:700}\n#esit-security-config-{{$id}} input,#esit-security-config-{{$id}} select{width:100%;margin:0 0 16px 0;padding:12px 14px;border-radius:12px;border:1px solid #334155;background:#0b1220;color:#e5e7eb}\n#esit-security-config-{{$id}} .grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(260px,1fr));gap:16px}\n#esit-security-config-{{$id}} .status{display:none;margin-top:16px;padding:12px 14px;border-radius:12px;border:1px solid #334155}\n#esit-security-config-{{$id}} .status.ok{display:block;background:rgba(20,83,45,.45);border-color:rgba(34,197,94,.45);color:#bbf7d0}\n#esit-security-config-{{$id}} .status.err{display:block;background:rgba(127,29,29,.55);border-color:rgba(220,38,38,.5);color:#fecaca}\n#esit-security-config-{{$id}} .help{margin-top:18px;color:#94a3b8;font-size:13px;line-height:1.6}\n</style>\n\n<div id=\"esit-security-config-guard-{{$id}}\" class=\"guard\">\n  <div class=\"card\">\n    <h2>Accesso non autorizzato</h2>\n    <p>Non risulti autenticato. Verrai reindirizzato automaticamente alla pagina di login.</p>\n  </div>\n</div>\n\n<div id=\"esit-security-config-view-{{$id}}\" class=\"view\">\n  <div class=\"topbar\">\n    <div>\n      <h1>Configurazione parametri di sicurezza</h1>\n      <div class=\"sub\">Gestione timeout, anti-abuso e conferma Telegram.</div>\n    </div>\n    <div class=\"actions\">\n      <button id=\"esit-security-reload-btn-{{$id}}\" class=\"btn refresh\">Ricarica valori</button>\n      <button id=\"esit-security-back-btn-{{$id}}\" class=\"btn back\">Torna alla dashboard</button>\n    </div>\n  </div>\n\n  <div class=\"panel\">\n    <div class=\"grid\">\n      <div>\n        <label for=\"esit-confirm-timeout-{{$id}}\">Timeout conferma Telegram (secondi)</label>\n        <input id=\"esit-confirm-timeout-{{$id}}\" type=\"number\" min=\"5\" max=\"60\" step=\"1\">\n      </div>\n      <div>\n        <label for=\"esit-wrong-code-cooldown-{{$id}}\">Cooldown dopo codice errato (secondi)</label>\n        <input id=\"esit-wrong-code-cooldown-{{$id}}\" type=\"number\" min=\"0\" max=\"30\" step=\"1\">\n      </div>\n      <div>\n        <label for=\"esit-max-wrong-attempts-{{$id}}\">Tentativi errati massimi consecutivi</label>\n        <input id=\"esit-max-wrong-attempts-{{$id}}\" type=\"number\" min=\"1\" max=\"10\" step=\"1\">\n      </div>\n      <div>\n        <label for=\"esit-lockout-duration-{{$id}}\">Durata blocco dopo troppi errori (secondi)</label>\n        <input id=\"esit-lockout-duration-{{$id}}\" type=\"number\" min=\"10\" max=\"3600\" step=\"1\">\n      </div>\n      <div>\n        <label for=\"esit-telegram-required-{{$id}}\">Conferma Telegram obbligatoria</label>\n        <select id=\"esit-telegram-required-{{$id}}\">\n          <option value=\"true\">ON</option>\n          <option value=\"false\">OFF</option>\n        </select>\n      </div>\n    </div>\n\n    <button id=\"esit-security-save-btn-{{$id}}\" class=\"btn save\">Salva configurazione</button>\n    <div id=\"esit-security-config-status-{{$id}}\" class=\"status\"></div>\n\n    \n  </div>\n</div>\n\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-security-config-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    if(root.dataset.bound===\"1\") return;\n    root.dataset.bound=\"1\";\n\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var guard=document.getElementById(\"esit-security-config-guard-\"+scope.$id);\n    var view=document.getElementById(\"esit-security-config-view-\"+scope.$id);\n    var backBtn=document.getElementById(\"esit-security-back-btn-\"+scope.$id);\n    var reloadBtn=document.getElementById(\"esit-security-reload-btn-\"+scope.$id);\n    var saveBtn=document.getElementById(\"esit-security-save-btn-\"+scope.$id);\n    var statusBox=document.getElementById(\"esit-security-config-status-\"+scope.$id);\n\n    var confirmTimeout=document.getElementById(\"esit-confirm-timeout-\"+scope.$id);\n    var wrongCodeCooldown=document.getElementById(\"esit-wrong-code-cooldown-\"+scope.$id);\n    var maxWrongAttempts=document.getElementById(\"esit-max-wrong-attempts-\"+scope.$id);\n    var lockoutDuration=document.getElementById(\"esit-lockout-duration-\"+scope.$id);\n    var telegramRequired=document.getElementById(\"esit-telegram-required-\"+scope.$id);\n\n    function goLogin(){ scope.send({payload:{tab:\"Login Admin\"}}); }\n    function goDash(){ scope.send({payload:{tab:\"Admin Dashboard\"}}); }\n    function load(){ scope.send({page_action:\"security_config_load\"}); }\n    function render(){\n      var logged=window.sessionStorage.getItem(AUTH_KEY)===\"1\";\n      guard.style.display=logged?\"none\":\"flex\";\n      view.style.display=logged?\"block\":\"none\";\n      if(!logged){ setTimeout(goLogin,3000); return; }\n      load();\n    }\n    function setStatus(kind,msg){\n      statusBox.className=\"status\";\n      statusBox.textContent=msg||\"\";\n      if(!msg) return;\n      statusBox.classList.add(kind===\"success\"?\"ok\":\"err\");\n    }\n    function clearStatus(){ statusBox.className=\"status\"; statusBox.textContent=\"\"; }\n    function renderConfig(cfg){\n      if(!cfg) return;\n      confirmTimeout.value = String(cfg.confirm_timeout_sec);\n      wrongCodeCooldown.value = String(cfg.wrong_code_cooldown_sec);\n      maxWrongAttempts.value = String(cfg.max_wrong_attempts);\n      lockoutDuration.value = String(cfg.lockout_duration_sec);\n      telegramRequired.value = cfg.telegram_confirm_required ? \"true\" : \"false\";\n    }\n    function save(){\n      clearStatus();\n      scope.send({\n        page_action:\"security_config_save\",\n        config:{\n          confirm_timeout_sec:(confirmTimeout.value||\"\").trim(),\n          wrong_code_cooldown_sec:(wrongCodeCooldown.value||\"\").trim(),\n          max_wrong_attempts:(maxWrongAttempts.value||\"\").trim(),\n          lockout_duration_sec:(lockoutDuration.value||\"\").trim(),\n          telegram_confirm_required:(telegramRequired.value||\"true\").trim()\n        }\n      });\n    }\n\n    backBtn.addEventListener(\"click\",goDash);\n    reloadBtn.addEventListener(\"click\",load);\n    saveBtn.addEventListener(\"click\",save);\n    [confirmTimeout,wrongCodeCooldown,maxWrongAttempts,lockoutDuration].forEach(function(el){ el.addEventListener(\"input\",clearStatus); });\n    telegramRequired.addEventListener(\"change\",clearStatus);\n    render();\n\n    scope.$watch(\"msg\", function(msg){\n      if(!msg || !msg.payload) return;\n      if(msg.payload.security_feedback) setStatus(msg.payload.security_feedback.status, msg.payload.security_feedback.message);\n      if(msg.payload.config) renderConfig(msg.payload.config);\n    });\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 530,
        "y": 2040,
        "wires": [
            [
                "064d9310c0e588aa",
                "f73ada65935c09e0",
                "954382ede73d2617"
            ]
        ]
    },
    {
        "id": "cd4708da2552f98a",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Load security config",
        "query": "SELECT id, confirm_timeout_sec, wrong_code_cooldown_sec, max_wrong_attempts, lockout_duration_sec, telegram_confirm_required FROM sicurezza_config WHERE id = 1 LIMIT 1;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 870,
        "y": 2100,
        "wires": [
            [
                "edc6311df0a155c2"
            ]
        ]
    },
    {
        "id": "064d9310c0e588aa",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare security config load",
        "func": "if ((msg.page_action || '').toString() !== 'security_config_load') return null;\ndelete msg.params;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 2000,
        "wires": [
            [
                "cd4708da2552f98a"
            ]
        ]
    },
    {
        "id": "edc6311df0a155c2",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format security config load + cache",
        "func": "function toInt(v, def) {\n  v = Number(v);\n  return Number.isFinite(v) ? Math.trunc(v) : def;\n}\nfunction toBool(v, def) {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'string') {\n    const s = v.toLowerCase().trim();\n    if (s === 'true' || s === '1' || s === 'on') return true;\n    if (s === 'false' || s === '0' || s === 'off') return false;\n  }\n  if (typeof v === 'number') return v !== 0;\n  return def;\n}\nconst defaults = {\n  confirm_timeout_sec: 10,\n  wrong_code_cooldown_sec: 0,\n  max_wrong_attempts: 3,\n  lockout_duration_sec: 60,\n  telegram_confirm_required: true\n};\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst row = rows.length > 0 ? rows[0] : {};\nconst cfg = {\n  confirm_timeout_sec: Math.min(60, Math.max(5, toInt(row.confirm_timeout_sec, defaults.confirm_timeout_sec))),\n  wrong_code_cooldown_sec: Math.min(30, Math.max(0, toInt(row.wrong_code_cooldown_sec, defaults.wrong_code_cooldown_sec))),\n  max_wrong_attempts: Math.min(10, Math.max(1, toInt(row.max_wrong_attempts, defaults.max_wrong_attempts))),\n  lockout_duration_sec: Math.min(3600, Math.max(10, toInt(row.lockout_duration_sec, defaults.lockout_duration_sec))),\n  telegram_confirm_required: toBool(row.telegram_confirm_required, defaults.telegram_confirm_required)\n};\nflow.set('securityConfig', cfg);\nmsg.payload = { config: cfg };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 2100,
        "wires": [
            [
                "24f34648bc183966"
            ]
        ]
    },
    {
        "id": "f73ada65935c09e0",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare security config save",
        "func": "if ((msg.page_action || '').toString() !== 'security_config_save') return null;\n\nconst c = msg.config || {};\nfunction fail(message) {\n  return { payload: { security_feedback: { status: 'error', message } } };\n}\nfunction parseIntStrict(value, name) {\n  const s = (value || '').toString().trim();\n  if (!/^[-]?[0-9]+$/.test(s)) throw new Error(name + ' non valido.');\n  return Number(s);\n}\nlet confirmTimeout, wrongCodeCooldown, maxWrongAttempts, lockoutDuration;\ntry {\n  confirmTimeout = parseIntStrict(c.confirm_timeout_sec, 'Timeout conferma Telegram');\n  wrongCodeCooldown = parseIntStrict(c.wrong_code_cooldown_sec, 'Cooldown dopo codice errato');\n  maxWrongAttempts = parseIntStrict(c.max_wrong_attempts, 'Tentativi errati massimi');\n  lockoutDuration = parseIntStrict(c.lockout_duration_sec, 'Durata blocco');\n} catch (e) {\n  return [null, fail(e.message)];\n}\nif (confirmTimeout < 5 || confirmTimeout > 60) return [null, fail('Timeout conferma Telegram: usa un valore tra 5 e 60 secondi.')];\nif (wrongCodeCooldown < 0 || wrongCodeCooldown > 30) return [null, fail('Cooldown dopo codice errato: usa un valore tra 0 e 30 secondi.')];\nif (maxWrongAttempts < 1 || maxWrongAttempts > 10) return [null, fail('Tentativi errati massimi: usa un valore tra 1 e 10.')];\nif (lockoutDuration < 10 || lockoutDuration > 3600) return [null, fail('Durata blocco: usa un valore tra 10 e 3600 secondi.')];\n\nlet telegramRequired = (c.telegram_confirm_required || '').toString().trim().toLowerCase();\nif (telegramRequired !== 'true' && telegramRequired !== 'false') {\n  return [null, fail('Conferma Telegram obbligatoria: valore non valido.')];\n}\ntelegramRequired = (telegramRequired === 'true');\n\nmsg.params = [\n  1,\n  confirmTimeout,\n  wrongCodeCooldown,\n  maxWrongAttempts,\n  lockoutDuration,\n  telegramRequired\n];\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 2040,
        "wires": [
            [
                "bf0a6efed1f1a3e4"
            ],
            [
                "24f34648bc183966"
            ]
        ]
    },
    {
        "id": "bf0a6efed1f1a3e4",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Save security config",
        "query": "INSERT INTO sicurezza_config (id, confirm_timeout_sec, wrong_code_cooldown_sec, max_wrong_attempts, lockout_duration_sec, telegram_confirm_required, updated_at)\nVALUES ($1, $2, $3, $4, $5, $6, NOW())\nON CONFLICT (id) DO UPDATE SET\n  confirm_timeout_sec = EXCLUDED.confirm_timeout_sec,\n  wrong_code_cooldown_sec = EXCLUDED.wrong_code_cooldown_sec,\n  max_wrong_attempts = EXCLUDED.max_wrong_attempts,\n  lockout_duration_sec = EXCLUDED.lockout_duration_sec,\n  telegram_confirm_required = EXCLUDED.telegram_confirm_required,\n  updated_at = NOW()\nRETURNING id, confirm_timeout_sec, wrong_code_cooldown_sec, max_wrong_attempts, lockout_duration_sec, telegram_confirm_required;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1180,
        "y": 2040,
        "wires": [
            [
                "328f880f78374ed2"
            ]
        ]
    },
    {
        "id": "328f880f78374ed2",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format security config save + cache",
        "func": "function toInt(v, def) {\n  v = Number(v);\n  return Number.isFinite(v) ? Math.trunc(v) : def;\n}\nfunction toBool(v, def) {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'string') {\n    const s = v.toLowerCase().trim();\n    if (s === 'true' || s === '1' || s === 'on') return true;\n    if (s === 'false' || s === '0' || s === 'off') return false;\n  }\n  if (typeof v === 'number') return v !== 0;\n  return def;\n}\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst row = rows.length > 0 ? rows[0] : {};\nconst cfg = {\n  confirm_timeout_sec: Math.min(60, Math.max(5, toInt(row.confirm_timeout_sec, 10))),\n  wrong_code_cooldown_sec: Math.min(30, Math.max(0, toInt(row.wrong_code_cooldown_sec, 0))),\n  max_wrong_attempts: Math.min(10, Math.max(1, toInt(row.max_wrong_attempts, 3))),\n  lockout_duration_sec: Math.min(3600, Math.max(10, toInt(row.lockout_duration_sec, 60))),\n  telegram_confirm_required: toBool(row.telegram_confirm_required, true)\n};\nflow.set('securityConfig', cfg);\nmsg.payload = {\n  security_feedback: {\n    status: 'success',\n    message: 'Configurazione di sicurezza salvata con successo.'\n  },\n  config: cfg\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 2040,
        "wires": [
            [
                "24f34648bc183966"
            ]
        ]
    },
    {
        "id": "fde2fa04adc4d20f",
        "type": "catch",
        "z": "e42535dea0a8f97a",
        "name": "Catch security config DB errors",
        "scope": [
            "cd4708da2552f98a",
            "bf0a6efed1f1a3e4"
        ],
        "uncaught": false,
        "x": 890,
        "y": 2160,
        "wires": [
            [
                "496539a399c55e09"
            ]
        ]
    },
    {
        "id": "496539a399c55e09",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Format security config DB error",
        "func": "const errorText = (msg.error && msg.error.message) ? msg.error.message.toString() : 'Errore database';\nmsg.payload = {\n  security_feedback: {\n    status: 'error',\n    message: 'Errore database durante il salvataggio/caricamento configurazione: ' + errorText\n  }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 2160,
        "wires": [
            [
                "24f34648bc183966"
            ]
        ]
    },
    {
        "id": "51a3143ce22d0bc2",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "WRONG CODE alert start",
        "func": "const err = msg.last_error || {};\nif (!err || (err.type !== 'wrong_code' && err.type !== 'lockout_started')) return null;\n\ndelete msg.params;\n\nconst tsSec = Number(err.ts || 0);\nconst d = tsSec > 0 ? new Date(tsSec * 1000) : new Date();\n\nfunction formatRome(date) {\n    try {\n        const parts = new Intl.DateTimeFormat('it-IT', {\n            timeZone: 'Europe/Rome',\n            year: 'numeric',\n            month: '2-digit',\n            day: '2-digit',\n            hour: '2-digit',\n            minute: '2-digit',\n            second: '2-digit',\n            hour12: false\n        }).formatToParts(date);\n        const map = {};\n        for (const p of parts) {\n            if (p.type !== 'literal') map[p.type] = p.value;\n        }\n        return `${map.day}/${map.month}/${map.year} ${map.hour}:${map.minute}:${map.second}`;\n    } catch (e) {\n        const pad = n => String(n).padStart(2, '0');\n        return `${pad(date.getDate())}/${pad(date.getMonth() + 1)}/${date.getFullYear()} ${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n    }\n}\n\nconst when = formatRome(d);\n\nif (err.type === 'lockout_started') {\n    msg._wrongCodeAlertText = `Blocco attivato per troppi codici errati, Data: ${when}`;\n    return msg;\n}\n\nmsg._wrongCodeAlertText = `Codice errato inserito, Data: ${when}`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 540,
        "wires": [
            [
                "e9bfc36078532725"
            ]
        ]
    },
    {
        "id": "e9bfc36078532725",
        "type": "postgresql",
        "z": "e42535dea0a8f97a",
        "name": "DB Load all telegram ids for wrong code alert",
        "query": "SELECT DISTINCT telegram_id\nFROM utenti\nWHERE status = 'ABILITATO'\n  AND telegram_id IS NOT NULL\n  AND TRIM(CAST(telegram_id AS TEXT)) <> ''\nORDER BY telegram_id ASC;",
        "postgreSQLConfig": "fa0b4009ed480231",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2200,
        "y": 540,
        "wires": [
            [
                "24316d68c15a6f02"
            ]
        ]
    },
    {
        "id": "24316d68c15a6f02",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "WRONG CODE fanout valid recipients",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst text = (msg._wrongCodeAlertText || '').toString().trim() || 'Codice errato inserito';\nconst seen = new Set();\nlet sent = 0;\nlet skipped = 0;\n\nfor (const row of rows) {\n    let raw = row ? row.telegram_id : null;\n\n    if (raw === null || raw === undefined) {\n        skipped++;\n        continue;\n    }\n\n    raw = String(raw).trim();\n\n    if (!/^[0-9]{1,15}$/.test(raw)) {\n        skipped++;\n        continue;\n    }\n\n    const chatId = Number(raw);\n\n    if (!Number.isSafeInteger(chatId) || chatId <= 0) {\n        skipped++;\n        continue;\n    }\n\n    if (seen.has(chatId)) {\n        continue;\n    }\n    seen.add(chatId);\n\n    node.send({\n        payload: {\n            chatId,\n            type: 'message',\n            content: text\n        }\n    });\n\n    sent++;\n}\n\nflow.set('lastWrongCodeBroadcastStats', {\n    sent,\n    skipped,\n    total_rows: rows.length,\n    ts: Date.now()\n});\n\nnode.status({ fill: 'green', shape: 'dot', text: `inviati ${sent}, scartati ${skipped}` });\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2580,
        "y": 540,
        "wires": [
            [
                "4375537651f84de6"
            ]
        ]
    },
    {
        "id": "18c320f33f510e28",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Load dashboard lock status",
        "func": "if ((msg.page_action || '').toString() !== 'dashboard_load') return null;\n\nmsg.lock = (flow.get('lock') || 'chiusa').toString();\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 600,
        "wires": [
            [
                "1f4422e27e4ec418"
            ]
        ]
    },
    {
        "id": "1f4422e27e4ec418",
        "type": "function",
        "z": "e42535dea0a8f97a",
        "name": "Prepare dashboard lock banner",
        "func": "function normalizeLock(v) {\n    if (v === undefined || v === null) return null;\n    const s = v.toString().trim().toLowerCase();\n\n    if (s.indexOf('aperta') >= 0) return 'aperta';\n    if (s.indexOf('chiusa') >= 0) return 'chiusa';\n\n    return null;\n}\n\nlet lock =\n    normalizeLock(msg.lockTarget) ||\n    normalizeLock(msg.lock) ||\n    normalizeLock(msg.payload && msg.payload.lock_status);\n\nif (!lock) {\n    let p = msg.payload;\n\n    if (typeof p === 'string') {\n        try { p = JSON.parse(p); } catch (e) {}\n    }\n\n    let state = null;\n    if (p && p.current && p.current.state) state = p.current.state;\n    else if (p && p.state) state = p.state;\n\n    if (state) {\n        const reported = state.reported || {};\n        const desired  = state.desired  || {};\n\n        lock =\n            normalizeLock(reported.lock) ||\n            normalizeLock(desired.lock);\n    }\n}\n\nlock = lock || normalizeLock(flow.get('lock')) || 'chiusa';\nflow.set('lock', lock);\n\nmsg.payload = {\n    lock_status: lock,\n    lock_banner: {\n        status: lock === 'aperta' ? 'success' : 'error',\n        lock_status: lock,\n        message: 'Stato serratura: ' + lock.toUpperCase()\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 600,
        "wires": [
            [
                "e5d7492d5f12edaa"
            ]
        ]
    },
    {
        "id": "e9dadb2011046feb",
        "type": "ui_template",
        "z": "e42535dea0a8f97a",
        "group": "44333dba8602f920",
        "name": "Add User Page",
        "order": 1,
        "width": "24",
        "height": "12",
        "format": "<div id=\"esit-add-user-{{$id}}\" class=\"esit-page\">\n<style>\n#esit-add-user-{{$id}}{min-height:600px;padding:20px;background:linear-gradient(135deg,#0f172a,#111827);border-radius:18px;color:#e5e7eb;font-family:Arial,sans-serif}\n#esit-add-user-{{$id}} *{box-sizing:border-box}\n#esit-add-user-{{$id}} .guard{display:none;min-height:460px;align-items:center;justify-content:center}\n#esit-add-user-{{$id}} .guard .card,#esit-add-user-{{$id}} .panel{background:rgba(17,24,39,.96);border:1px solid #334155;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.2)}\n#esit-add-user-{{$id}} .guard .card{max-width:520px;padding:28px;text-align:center}\n#esit-add-user-{{$id}} .guard .card h2{\ncolor:#C9A227 !important;\nbackground:transparent !important;\n}\n\n#esit-add-user-{{$id}} .guard .card p{\ncolor:#ffffff !important;\nbackground:transparent !important;\nmargin-top: 18px;\n}\n#esit-add-user-{{$id}} .view{display:none;max-width:900px;margin:0 auto}\n#esit-add-user-{{$id}} .topbar{display:flex;justify-content:space-between;gap:16px;align-items:flex-start;flex-wrap:wrap;margin-bottom:22px}\n#esit-add-user-{{$id}} h1{margin:0;color:#C9A227 !important; background: transparent !important}\n#esit-add-user-{{$id}} .sub{margin-top:6px;color:#94a3b8}\n#esit-add-user-{{$id}} .back{background:#1e293b;color:#e2e8f0;border:none;border-radius:12px;padding:12px 18px;font-weight:700;cursor:pointer}\n#esit-add-user-{{$id}} .panel{padding:24px}\n#esit-add-user-{{$id}} label{display:block;margin:0 0 8px 0;color:#cbd5e1;font-size:13px;font-weight:700}\n#esit-add-user-{{$id}} input,#esit-add-user-{{$id}} select{width:100%;margin:0 0 16px 0;padding:12px 14px;border-radius:12px;border:1px solid #334155;background:#0b1220;color:#e5e7eb}\n#esit-add-user-{{$id}} .save{width:25%;padding:13px 16px;border:none;border-radius:12px;background:#2563eb;color:#fff;font-weight:700;cursor:pointer;margin: 20px auto 0; display: block}\n#esit-add-user-{{$id}} .save:disabled{opacity:.7;cursor:not-allowed}\n#esit-add-user-{{$id}} .status{display:none;margin-top:16px;padding:12px 14px;border-radius:12px;border:1px solid #334155}\n#esit-add-user-{{$id}} .ok{display:block;background:rgba(20,83,45,.45);border-color:rgba(34,197,94,.45);color:#bbf7d0}\n#esit-add-user-{{$id}} .err{display:block;background:rgba(127,29,29,.55);border-color:rgba(220,38,38,.5);color:#fecaca}\n#esit-add-user-{{$id}} .help{margin-top:16px;color:#94a3b8;font-size:13px;line-height:1.6}\n</style>\n<div id=\"esit-add-user-guard-{{$id}}\" class=\"guard\">\n  <div class=\"card\">\n    <h2>Accesso non autorizzato</h2>\n    <p>Non risulti autenticato. Verrai reindirizzato automaticamente alla pagina di login.</p>\n  </div>\n</div>\n<div id=\"esit-add-user-view-{{$id}}\" class=\"view\">\n  <div class=\"topbar\">\n    <div>\n      <h1>Aggiunta utente</h1>\n      <div class=\"sub\">Compila i campi e salva nel database del sistema.</div>\n    </div>\n    <button id=\"esit-back-dash-btn-{{$id}}\" class=\"back\">Torna alla dashboard</button>\n  </div>\n\n  <div class=\"panel\">\n    <label for=\"esit-new-username-{{$id}}\">Username</label>\n    <input id=\"esit-new-username-{{$id}}\" type=\"text\" placeholder=\"es. mario\">\n\n    <label for=\"esit-new-code-{{$id}}\">Access code</label>\n    <input id=\"esit-new-code-{{$id}}\" type=\"text\" placeholder=\"es. 1234\" inputmode=\"numeric\">\n\n    <label for=\"esit-new-telegram-{{$id}}\">Telegram ID</label>\n    <input id=\"esit-new-telegram-{{$id}}\" type=\"text\" placeholder=\"es. 212805349\" inputmode=\"numeric\">\n\n    <label for=\"esit-new-status-{{$id}}\">Status</label>\n    <select id=\"esit-new-status-{{$id}}\">\n      <option value=\"ABILITATO\">ABILITATO</option>\n      <option value=\"DISABILITATO\">DISABILITATO</option>\n    </select>\n\n    <button id=\"esit-save-user-btn-{{$id}}\" class=\"save\">Salva</button>\n    <div id=\"esit-add-user-status-{{$id}}\" class=\"status\"></div>\n\n  </div>\n</div>\n<script>\n(function(scope){\n  function init(){\n    var root=document.getElementById(\"esit-add-user-\"+scope.$id);\n    if(!root){setTimeout(init,100);return;}\n    if(root.dataset.bound===\"1\") return;\n    root.dataset.bound=\"1\";\n    var AUTH_KEY=\"esit_admin_logged_in\";\n    var guard=document.getElementById(\"esit-add-user-guard-\"+scope.$id);\n    var view=document.getElementById(\"esit-add-user-view-\"+scope.$id);\n    var backBtn=document.getElementById(\"esit-back-dash-btn-\"+scope.$id);\n    var saveBtn=document.getElementById(\"esit-save-user-btn-\"+scope.$id);\n    var username=document.getElementById(\"esit-new-username-\"+scope.$id);\n    var code=document.getElementById(\"esit-new-code-\"+scope.$id);\n    var telegram=document.getElementById(\"esit-new-telegram-\"+scope.$id);\n    var status=document.getElementById(\"esit-new-status-\"+scope.$id);\n    var box=document.getElementById(\"esit-add-user-status-\"+scope.$id);\n    var saving=false;\n\n    function goLogin(){ scope.send({payload:{tab:\"Login Admin\"}}); }\n    function goDash(){ scope.send({payload:{tab:\"Admin Dashboard\"}}); }\n    function render(){\n      var logged=window.sessionStorage.getItem(AUTH_KEY)===\"1\";\n      guard.style.display=logged?\"none\":\"flex\";\n      view.style.display=logged?\"block\":\"none\";\n      if(!logged) setTimeout(goLogin,3000);\n    }\n    function setStatus(kind,msg){\n      box.className=\"status \" + (kind===\"success\" ? \"ok\" : \"err\");\n      box.textContent=msg||\"\";\n    }\n    function clearStatus(){ box.className=\"status\"; box.textContent=\"\"; }\n    function setSaving(flag){\n      saving=!!flag;\n      saveBtn.disabled=saving;\n      saveBtn.textContent=saving?\"Salvataggio...\":\"Salva\";\n    }\n    function save(){\n      if(saving) return;\n      clearStatus();\n      setSaving(true);\n      scope.send({\n        form_action:\"add_user\",\n        user:{\n          username:(username.value||\"\").trim(),\n          access_code:(code.value||\"\").trim(),\n          telegram_id:(telegram.value||\"\").trim(),\n          status:(status.value||\"ABILITATO\").trim()\n        }\n      });\n    }\n\n    backBtn.addEventListener(\"click\",goDash);\n    saveBtn.addEventListener(\"click\",save);\n    [username,code,telegram].forEach(function(el){ el.addEventListener(\"input\",function(){ clearStatus(); }); });\n    render();\n\n    scope.$watch('msg', function(msg){\n      if(!msg || !msg.payload || !msg.payload.form_feedback) return;\n      var fb=msg.payload.form_feedback;\n      setSaving(false);\n      setStatus(fb.status, fb.message);\n      if(fb.status===\"success\"){\n        username.value=\"\";\n        code.value=\"\";\n        telegram.value=\"\";\n        status.value=\"ABILITATO\";\n      }\n    });\n  }\n  init();\n})(scope);\n</script>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 430,
        "y": 900,
        "wires": [
            [
                "954382ede73d2617",
                "a735c92ef2d4c748"
            ]
        ]
    },
    {
        "id": "987e706b5b0617f8",
        "type": "mqtt-broker",
        "name": "AWS_IOT",
        "broker": "a33s98g4bohzxz-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "873770cb41a52940",
        "clientid": "asset1",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": false,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fa0b4009ed480231",
        "type": "postgreSQLConfig",
        "name": "ESIT PostgreSQL",
        "host": "host.docker.internal",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "esit_lock_db",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "postgres",
        "passwordFieldType": "str"
    },
    {
        "id": "00af2f8b6f9b79d7",
        "type": "telegram bot",
        "botname": "g1_esit_bot",
        "usernames": "",
        "chatids": "${chatid}",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "c58454d211f16d2f",
        "type": "ui_group",
        "name": "",
        "tab": "cbf49bd3cc58c05f",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "168ad433bdc679e3",
        "type": "ui_group",
        "name": "",
        "tab": "b890cc1fda66e259",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47b55659c00ae08c",
        "type": "ui_group",
        "name": "",
        "tab": "25b2475838111464",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1174406d157ee713",
        "type": "ui_group",
        "name": "",
        "tab": "f1c87d398575555a",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a78679c1ee77b62",
        "type": "ui_group",
        "name": "",
        "tab": "ee72fc5635faa331",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ad801b2c3313d2f",
        "type": "ui_group",
        "name": "",
        "tab": "5d58f40f92dd5dcb",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59eb3429f79c7bd8",
        "type": "ui_group",
        "name": "",
        "tab": "4d4732bebac301a6",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "72eebb99ef08f480",
        "type": "ui_group",
        "name": "",
        "tab": "3d07f9428e9ef558",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20ade9e308d45e8a",
        "type": "ui_group",
        "name": "",
        "tab": "244cc44068e9e960",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2668ba361d66d46d",
        "type": "ui_group",
        "name": "",
        "tab": "e9777f2ee4b2bc4a",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "44333dba8602f920",
        "type": "ui_group",
        "name": "",
        "tab": "b18975cf5bbe7bec",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "873770cb41a52940",
        "type": "tls-config",
        "name": "asset1certs",
        "cert": "/certs/esit-obj1-certificate.pem.crt",
        "key": "/certs/esit-obj1-private.pem.key",
        "ca": "/certs/AmazonRootCA1.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "cbf49bd3cc58c05f",
        "type": "ui_tab",
        "name": "Login Admin",
        "icon": "lock",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b890cc1fda66e259",
        "type": "ui_tab",
        "name": "Admin Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "25b2475838111464",
        "type": "ui_tab",
        "name": "Visualizzazione Utenti",
        "icon": "groups",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f1c87d398575555a",
        "type": "ui_tab",
        "name": "Modifica Utenti",
        "icon": "edit",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ee72fc5635faa331",
        "type": "ui_tab",
        "name": "Modifica Utente",
        "icon": "edit",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5d58f40f92dd5dcb",
        "type": "ui_tab",
        "name": "Disabilitazione Utente",
        "icon": "block",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4d4732bebac301a6",
        "type": "ui_tab",
        "name": "Riabilitazione Utente",
        "icon": "check_circle",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d07f9428e9ef558",
        "type": "ui_tab",
        "name": "Eliminazione Utente",
        "icon": "delete",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "244cc44068e9e960",
        "type": "ui_tab",
        "name": "Monitoraggio Attività Utenti",
        "icon": "history",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e9777f2ee4b2bc4a",
        "type": "ui_tab",
        "name": "Configurazione Sicurezza",
        "icon": "settings",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b18975cf5bbe7bec",
        "type": "ui_tab",
        "name": "Aggiunta Utente",
        "icon": "person_add",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8ebac4653b8c672d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4",
            "node-red-contrib-telegrambot": "17.1.0",
            "node-red-dashboard": "3.6.6"
        }
    }
]